@using DatabaseObject.ResultModel;
@using DatabaseObject.RequestModel;
@using DatabaseObject.ViewModel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>
<link href="~/ThirdParty/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />

@model GarmentTest_Result
<style type="text/css">
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

        .row > * {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-left: calc(var(--bs-gutter-x)/ 2);
        }

    .rowHeader {
        font-size: 1.1vw;
        font-weight: bold;
    }

        .rowHeader input[type="text"] {
            width: 12vw;
        }

    .col-auto {
        width: auto;
    }

        .col-auto > p {
            padding: 0
        }

    .White {
        color: white !important;
    }

    .Black {
        color: black !important;
    }

    .IsEditMode {
        color: white !important;
        cursor: pointer;
    }

    .IsEditModeQuery {
        color: gray !important;
        cursor: no-drop;
    }

    .DataTable {
        width: 92vw;
        font-size: 1rem;
        font-weight: bold;
        border: solid 1px black;
        background-color: white;
    }
        .DataTable > tbody img{
            cursor:pointer;
        }

        .DataTable > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .DataTable > tbody > tr:nth-of-type(even) {
            background-color: #F0F2F2;
        }

        .DataTable > tbody > tr > td {
            border: solid 1px gray;
            padding: 1em;
            text-align: left;
            vertical-align: middle;
        }
</style>

<div class="main-content">
    <header class="page-header">
        <h3>
            <i class="icon-users"></i><span>Garment Test</span>
        </h3>
    </header>

    <div class="main-area">
        <div class="content-scroll">
            <div class="inner-scroll">
                @using (Html.BeginForm("Index", ViewContext.RouteData.GetRequiredString("Controller"), new { }, FormMethod.Post))
                {
                    <div class="row rowHeader">
                        <div class="col-auto">
                            <p class="InfoTitle White">Brand</p>
                        </div>
                        <div class="col-auto">
                            <input id="Brand" name="Brand" type="text" />
                            <input id="btnBrandSelectItem" type="button" class="site-btn btn-blue" style="margin:0;border:0;" name="BrandSelectItem" value="..." />
                        </div>
                        <div class="col-auto"><p class="InfoTitle White">Season</p></div>
                        <div class="col-auto">
                            <input id="Season" name="Season" type="text" />
                            <input id="btnSeasonSelectItem" type="button" class="site-btn btn-blue" style="margin:0;border:0;" name="SeasonSelectItem" value="..." />
                        </div>
                        <div class="col-auto"><p class="InfoTitle White">Style</p></div>
                        <div class="col-auto">
                            <input id="Style" name="Style" type="text" />
                            <input id="btnStyleSelectItem" type="button" class="site-btn btn-blue" style="margin:0;border:0;" name="StyleSelectItem" value="..." />
                        </div>
                        <div class="col-auto"><p class="InfoTitle White">Article</p></div>
                        <div class="col-auto">
                            <input id="Article" name="Article" type="text" />
                            <input id="btnArticleSelectItem" type="button" class="site-btn btn-blue" style="margin:0;border:0;" name="ArticleSelectItem" value="..." />
                        </div>

                        <div class="col-auto">
                            <button id="btnQuery" type="submit" class="site-btn btn-gy font1rem Black" style="padding: 0.4em;">Query</button>
                        </div>
                    </div>
                }

                <div style="margin-top: 1em;">
                    <table id="ButtonMode">
                        <tbody>
                            <tr>
                                <td>
                                    <h4 id="Edit" style=" margin-right: 1em;">
                                        <img src="~/Image/Icon/Edit.png" width="30" />
                                        Edit
                                    </h4>
                                </td>
                                <td>
                                    <h4 id="Save" style=" margin-right: 1em;">
                                        <img src="~/Image/Icon/Save.png" width="30" />
                                        Save
                                    </h4>
                                </td>
                                <td>
                                    <h4 id="Undo" style=" margin-right: 1em;">
                                        <img src="~/Image/Icon/Undo.png" width="30" />
                                        Undo
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 1em;">
                    <table class="DataTable">
                        <tbody>
                            <tr>
                                <td style="width: 10vw;"><h5>Style#</h5></td>
                                <td style="width: 20vw;">
                                    @Html.DisplayFor(o => o.garmentTest.StyleID, "", "")
                                </td>
                                <td style="width: 10vw;"><h5>Season</h5></td>
                                <td style="width: 20vw;">
                                    @Html.DisplayFor(o => o.garmentTest.SeasonID, "", "")
                                </td>
                                <td style="width: 10vw;"><h5>Brand</h5></td>
                                <td style="width: 20vw;">
                                    @Html.DisplayFor(o => o.garmentTest.BrandID, "", "")
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Article</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.Article, "", "")
                                </td>
                                <td><h5>First SP#</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.FirstOrderID, "", "")
                                </td>
                                <td><h5>M</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.MDivisionid, "", "")
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Deadline</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.DeadLine, "{0:yyyy/MM/dd}",  "")
                                </td>
                                <td><h5>Earliest Inline</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.SewingInline, "", "")
                                </td>
                                <td><h5>Earliest SCI Div</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.MinSciDelivery, "{0:yyyy/MM/dd}", "")
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Special Mark</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.SpecialMark, "", "")
                                </td>
                                <td><h5>Earliest Offline</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.SewingOffline, "{0:yyyy/MM/dd}", "")
                                </td>
                                <td><h5>Earliest Buyer Div</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.MinBuyerDelivery, "{0:yyyy/MM/dd}", "")
                                </td>
                            </tr>
                            @{
                                string SeamBreakageFontColor = Model.garmentTest != null && Model.garmentTest.SeamBreakageResult == "P" ? "Blue" : "Red";
                                string SeamBreakageVal = Model.garmentTest != null && Model.garmentTest.SeamBreakageResult == "P" ? "Pass" : "Fail";

                                string OdourResultFontColor = Model.garmentTest != null && Model.garmentTest.OdourResult == "P" ? "Blue" : "Red";
                                string OdourResultVal = Model.garmentTest != null && Model.garmentTest.OdourResult == "P" ? "Pass" : "Fail";

                                string WashResultFontColor = Model.garmentTest != null && Model.garmentTest.WashResult == "P" ? "Blue" : "Red";
                                string WashResultVal = Model.garmentTest != null && Model.garmentTest.WashResult == "P" ? "Pass" : "Fail";

                                string ResultFontColor = Model.garmentTest != null && Model.garmentTest.Result == "P" ? "Blue" : "Red";
                                string ResultVal = Model.garmentTest != null && Model.garmentTest.Result == "P" ? "Pass" : "Fail";
                            }
                            <tr>
                                <td><h5>450 Last Result</h5></td>
                                <td class="@SeamBreakageFontColor">
                                    @Model.garmentTest.SeamBreakageResult
                                </td>
                                <td><h5>451 Last Result</h5></td>
                                <td class="@OdourResultFontColor">
                                    @Model.garmentTest.OdourResult
                                </td>
                                <td>
                                    <h5 class="WashResult">@Model.garmentTest.WashName Last Result</h5>
                                </td>
                                <td class="@WashResultFontColor">
                                    @Model.garmentTest.WashResult
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Last Result</h5></td>
                                <td class="@ResultFontColor">
                                    @Model.garmentTest.Result
                                </td>
                                <td><h5>Last Test Date</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.garmentTest.Date, "{0:yyyy/MM/dd}", "")
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><h5>Last Comment</h5></td>
                                <td colspan="7">
                                    @Html.DisplayFor(o => o.garmentTest.Remark, "", "")
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Create By</h5></td>
                                <td colspan="2">
                                    @Html.DisplayFor(o => o.garmentTest.GarmentTestAddName, "", "")
                                </td>
                                <td><h5>Edit By</h5></td>
                                <td colspan="2">
                                    @Html.DisplayFor(o => o.garmentTest.GarmentTestEditName, "", "")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 1em; width: 92vw; overflow:auto;">
                    <table class="DetailTable DataTable">
                        <thead>
                            @{
                                if (Model != null && Model.garmentTest_Details != null && Model.garmentTest_Details.Count() > 0)
                                {
                                    <tr>
                                        <th><h4>No. of Test</h4></th>
                                        <th><h4>SP#</h4></th>
                                        <th><h4>Size</h4></th>
                                        <th><h4>Test Date</h4></th>
                                        <th><h4>Material Type</h4></th>
                                        <th><h4>Result</h4></th>
                                        <th><h4>Non 450</h4></th>
                                        <th><h4>450 Result</h4></th>
                                        <th><h4>451 Result</h4></th>
                                        <th><h4>@Model.garmentTest.WashName Result</h4></th>
                                        <th><h4>Inspector</h4></th>
                                        <th><h4>Inspector Name</h4></th>
                                        <th><h4>Comments</h4></th>
                                        <th style="padding: 0 1em;"><h4>Send</h4></th>
                                        <th><h4>Sender</h4></th>
                                        <th><h4>Send Date</h4></th>
                                        <th><h4>Receive</h4></th>
                                        <th><h4>Receiver</h4></th>
                                        <th><h4>Receive Date</h4></th>
                                        <th><h4>Add Name</h4></th>
                                        <th><h4>Edit Name</h4></th>
                                        <th style="padding: 0 1em;"><h4>View</h4></th>
                                        <th><h4>Delete</h4></th>
                                    </tr>
                                }
                            }
                        </thead>
                        <tbody>
                            @foreach (var garmentTest_Details in Model.garmentTest_Details)
                            {
                                <tr>
                                    <td style="width:10vw;">
                                        <a href="@Url.Action("Detail", "GarmentTest", new { ID = garmentTest_Details.ID, No = garmentTest_Details.No })" idx="@garmentTest_Details.ID" idv="@garmentTest_Details.No">
                                            @Html.DisplayFor(o => garmentTest_Details.No, "", new { @disabled = "disabled" })
                                        </a>
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.TextBoxFor(o => garmentTest_Details.OrderID, new { Name = "garmentTest_Details.OrderID" })
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DropDownListFor(o => garmentTest_Details.SizeCode, (List<SelectListItem>)ViewBag.SizeCodeList, "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.TextBoxFor(o => garmentTest_Details.inspdate, "{0:yyyy/MM/dd}", new { @class = "form-control date-picker" })
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DropDownListFor(o => garmentTest_Details.MtlTypeID, (List<SelectListItem>)ViewBag.MtlTypeIDList, "")
                                    </td>
                                    @{
                                        string garmentTest_DetailsFontColor = garmentTest_Details.Result == "P" ? "Blue" : "Red";
                                        string garmentTest_DetailsVal = garmentTest_Details.Result == "P" ? "Pass" : "Fail";
                                    }
                                    <td class="@garmentTest_DetailsFontColor" style="width:10vw;">
                                        @garmentTest_DetailsVal
                                    </td>
                                    <td style="width:10vw;">
                                        @{ 
                                            bool NonSeamBreakageTestVal = garmentTest_Details.NonSeamBreakageTest.HasValue ? garmentTest_Details.NonSeamBreakageTest.Value : false;
                                        }
                                        <input id="garmentTest_Details_NonSeamBreakageTest" name="garmentTest_Details.NonSeamBreakageTest" type="checkbox" value="@NonSeamBreakageTestVal">
                                        <input name="garmentTest_Details.NonSeamBreakageTest" type="hidden" value="@NonSeamBreakageTestVal">
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.SeamBreakageResult, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.OdourResult, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.WashResult, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.TextBoxFor(o => garmentTest_Details.inspector, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.GarmentTest_Detail_Inspector, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.TextBoxFor(o => garmentTest_Details.Remark, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        <img class="SendMail" src="~/Image/Icon/Mail.png" width="30" />
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.Sender, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.SendDate, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        <img class="ReceiveMail" src="~/Image/Icon/Mail.png" width="30" />
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.Receiver, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.ReceiveDate, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.GarmentTest_Detail_AddName, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        @Html.DisplayFor(o => garmentTest_Details.GarmentTest_Detail_EditName, "", "")
                                    </td>
                                    <td style="width:10vw;">
                                        <img class="detailEdit" src="~/Image/Icon/Edit.png" width="30" />
                                    </td>
                                    <td style="width:10vw;">
                                        <img class="detailDelete" src="~/Image/Icon/Delete.png" width="30" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var msg;
    var EditMode;
    $(function () {
        msg = new MessagerAlert();
        EditMode = false;
        IsEditModeChange();

        $('.detailEdit').on('click', function () {
            if ($(this).prop('src').indexOf("Save.png") > -1) {
                var tr = $(this).parent().parent();
                tr.find("input[type='text']").removeAttr("disabled");
                tr.find("input[type='checkbox']").removeAttr("disabled");
                tr.find("select").removeAttr("disabled");

                var detail = [];
                var fcol = tr.children().find('a');
                var id = fcol.attr("idx");
                var no = fcol.attr("idv");

                var NonSeamBreakageTest = tr.children().find("input[type='checkbox']").prop("checked");
                var OrderID, inspdate, inspector, Remark;
                var SizeCode, MtlTypeID;

                tr.children().find("input[type='text']").each(function (index, value) {
                    switch (index) {
                        case 0:
                            OrderID = $(this).val();
                            break;
                        case 1:
                            inspdate = $(this).val();
                            break;
                        case 2:
                            inspector = $(this).val();
                            break;
                        case 3:
                            Remark = $(this).val();
                            break;
                    }
                })

                tr.children().find("select").each(function (index, value) {
                    switch (index) {
                        case 0:
                            SizeCode = $(this).children("option:selected").val();
                            break;
                        case 1:
                            MtlTypeID = $(this).children("option:selected").val();
                            break;
                    }
                })

                detail.push({
                    ID: parseInt(id),
                    No: parseInt(no),
                    OrderID: OrderID,
                    inspdate: inspdate,
                    inspector: inspector,
                    Remark: Remark,
                    NonSeamBreakageTest: NonSeamBreakageTest,
                    SizeCode: SizeCode,
                    MtlTypeID: MtlTypeID,
                });


                if (detail.length > 0) {
                    SaveData(detail);
                }
                else {
                    msg.WithError("Save Fail");
                    return;
                }
            }
            else {
                $(".rowHeader input[type='text']").attr("disabled", "disabled");
                $(".rowHeader input[type='button'], #btnQuery").addClass("IsEditModeQuery");
                $("#Edit, #Save, #Undo").removeClass("IsEditMode");
                $(".DetailTable img").addClass('display-None');
                $(this).removeClass('display-None');
                $('#btnQuery').on('click', function () {
                    return false;
                });

                $(this).prop("src", "/Image/Icon/Save.png");

                var tr = $(this).parent().parent();
                tr.find("input[type='text']").removeAttr("disabled");
                tr.find("input[type='checkbox']").removeAttr("disabled");
                tr.find("select").removeAttr("disabled");
            }
        });
    });

    function IsEditModeChange() {
        EditModeButtionBind();

        if (EditMode) {
            $(".rowHeader input[type='text']").attr("disabled", "disabled");
            $(".rowHeader input[type='button'], #btnQuery").addClass("IsEditModeQuery");
            $("#Edit").removeClass("IsEditMode");
            $('#Save, #Undo').addClass("IsEditMode");
            $(".DetailTable input[type='text'], .DetailTable select, .DetailTable input[type='checkbox']").removeAttr("disabled");
            $(".DetailTable img").addClass('display-None');

            $('#btnQuery').on('click', function () {
                return false;
            });
        }
        else {
            $(".rowHeader input[type='text']").removeAttr("disabled");
            $(".rowHeader input[type='button'], #btnQuery").unbind('click').removeClass("IsEditModeQuery");
            $("#Edit").addClass("IsEditMode");
            $('#Save, #Undo').unbind('click').removeClass("IsEditMode");
            $(".DetailTable input[type='text'], .DetailTable select, .DetailTable input[type='checkbox']").attr("disabled", "disabled");
            $(".DetailTable img").removeClass('display-None');
        }
    }

    function EditModeButtionBind() {
        //$(".rowHeader input[type='button']") bind Click;

        $('#Edit').on('click', function () {
            if ($('#garmentTest_StyleID').val() != "" && $('#garmentTest_SeasonID').val() != "" && $('#garmentTest_BrandID').val() != "") {
                EditMode = true;
                IsEditModeChange();
            }
        });

        $('#Save').on('click', function () {
            if ($('#item_No').val() == "") {
                msg.WithError("No cannot be empty.");
                return;
            }

            var detail = [];
            $('.DetailTable > tbody > tr').each(function (index, value) {
                var fcol = $(this).children().find('a');
                var id = fcol.attr("idx");
                var no = fcol.attr("idv");

                var NonSeamBreakageTest = $(this).children().find("input[type='checkbox']").prop("checked");
                var OrderID, inspdate, inspector, Remark;
                var SizeCode, MtlTypeID;
                $(this).children().find("input[type='text']").each(function (index, value) {
                    switch (index) {
                        case 0:
                            OrderID = $(this).val();
                            break;
                        case 1:
                            inspdate = $(this).val();
                            break;
                        case 2:
                            inspector = $(this).val();
                            break;
                        case 3:
                            Remark = $(this).val();
                            break;
                    }
                })

                $(this).children().find("select").each(function (index, value) {
                    switch (index) {
                        case 0:
                            SizeCode = $(this).children("option:selected").val();
                            break;
                        case 1:
                            MtlTypeID = $(this).children("option:selected").val();
                            break;
                    }
                })

                detail.push({
                    ID: parseInt(id),
                    No: parseInt(no),
                    OrderID: OrderID,
                    inspdate: inspdate,
                    inspector: inspector,
                    Remark: Remark,
                    NonSeamBreakageTest: NonSeamBreakageTest,
                    SizeCode: SizeCode,
                    MtlTypeID: MtlTypeID,
                });
            });

            if (detail.length > 0) {
                SaveData(detail);
            }
            else {
                msg.WithError("Save Fail");
                return;
            }
        });

        $('#Undo').on('click', function () {
            EditMode = false;
            $('#btnQuery').unbind('click').click();
        });
    }

    function SaveData(detail) {
        $.ajax({
            url: "@Url.Action("SaveDetail", "GarmentTest", new { Area = "BulkFGT" })",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ details: detail }),
            async: false,
            success: function (data) {
                if (data.Result) {
                    msg.WithSuccess("Success");
                    $('#btnQuery').unbind('click').click();
                }
                else {
                    msg.WithError(data.ErrMsg);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(xhr.responseText);

                console.log(thrownError);
            }
        });
    }


</script>