@using DatabaseObject.ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BACriteria_ViewModel



<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>
<link href="~/ThirdParty/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    .dataTables_wrapper {
        position: static;
    }

    h3, label, #myTable_info {
        color: white
    }

    #myTable_previous, #myTable_next {
        color: white !important;
    }

    #moduleTable_previous, #moduleTable_next {
        color: white !important;
    }

    #UsersTable_previous, #UsersTable_next {
        color: white !important;
    }

    select {
        color: wheat
    }

    .btnmargin {
        margin-left: 10px;
        margin-top: 10px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .input_Head {
        /*height: 3vh;*/
        height: 89%;
        width: 95%;
        font-weight: 300 !important;
        color: #656565;
        font-size: 0.5em !important;
    }

    .detail_Head {
        width: 95%;
    }

    input[type=text] {
        width: 10vw;
    }
</style>

<div class="main-content">

    <header class="page-header">
        <h3>
            <i class=""></i><span>BA Criteria</span>
        </h3>
        <div class="breadcrumb">
            <div>Home</div>
            <div class="current">BA Criteria</div>
        </div>
    </header>


    <div class="main-area">

        <div class="content-scroll">
            <div class="inner-scroll" style="float:left">

                <div>
                    @using (Html.BeginForm("Query", ViewContext.RouteData.GetRequiredString("Controller"), FormMethod.Post, new { @class = "", @name = "SearchFrom", @onsubmit = "return checkForm(this);", @id = "SearchFrom" }))
                    {
                        <div>
                            <label class="QueryLab">SP#</label>
                            <input type="text" name="OrderID" id="txtOrderID" />
                            &nbsp;&nbsp;
                            <label class="QueryLab">Brand</label>
                            <input type="text" name="BrandID" id="BrandID" />
                            <input id="btnBrandID" onclick="OpenWindow('BrandID')" type="button" class="site-btn btn-blue" style="margin:0;border: 2px solid transparent;" name="" value="..." />
                            &nbsp;&nbsp;
                            <label class="QueryLab">Season</label>
                            <input type="text" name="SeasonID" id="SeasonID" />
                            <input id="btnSeason" onclick="OpenWindow('SeasonID')" type="button" class="site-btn btn-blue" style="margin:0;border: 2px solid transparent;" name="" value="..." />
                            &nbsp;&nbsp;
                            <label class="QueryLab">Style</label>
                            <input type="text" name="StyleID" id="StyleID" />
                            <input id="btnStyleID" onclick="OpenWindow('StyleID')" type="button" class="site-btn btn-blue" style="margin:0;border: 2px solid transparent;" name="" value="..." />
                            &nbsp;&nbsp;
                            <input type="submit" name="name" id="btnQuery" value="Query" />
                            &nbsp;&nbsp;
                            <input type="button" class="btn-yellow" name="toexcel" id="btnToExcel" value="To Excel" />
                            <br />
                            <br />
                            &nbsp;&nbsp;
                            <label class="QueryLab">InspectionDate</label>
                            <input type="text" name="InspectionDateStart" id="txtInspectionDateStart" class="date-picker" />~
                            <input type="text" name="InspectionDateEnd" id="txtInspectionDateEnd" class="date-picker" />
                            &nbsp;&nbsp;
                        </div>
                    }
                </div>
                <br />
                <h3>BA Criteria：@Math.Round(Model.SummaryBACriteria, 1)</h3>
                <br />
                <div>

                    <table id="myTable" class="table table-striped display" style="text-align:center">
                        <thead>
                            <tr class="row-name">
                                <th>SP#</th>
                                <th>Sample Stage</th>
                                <th>Qty</th>
                                <th>Inspected Qty</th>
                                <th>BA Product</th>
                                <th>BA Criteria</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr class="row-content">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderTypeID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InspectedQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BAProduct)
                                    </td>
                                    <td>
                                        @Math.Round(item.BACriteria, 1)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    var msg = new MessagerAlert();

    var testData = [
        ["111", "System Architect", "false",],
        ["222", "System MOA Architect", "true",],
        ["333", "System YUI Architect", "false",],
        ["111", "System SSSS", "false",]
    ];
    var EditMode = false;

    $(function () {
        QueryButtonBind();

        @Html.Raw(Model.ErrorMessage);

        $('#myTable').DataTable({
            "pageLength": 20,
            initComplete: function () {
            }
        });

        $("#btnToExcel").click(function () {
            location.href = '@Url.Action("ExcelExport")';
        });
    });

    function checkForm(obj) {
        if ($("#txtOrderID").val() == "" & $("#StyleID").val() == "" & $("#txtInspectionDateStart").val() == "" & $("#txtInspectionDateEnd").val() == "") {
            msg.WithError("SP#、Style or Inspection Date Cannot be Empty");
            return false;
        }
    }


    function QueryButtonBind() {
        $("#BrandID").blur(function () {
            $.ajax({
                url: "@Url.Action("BrandList", "PublicWindow",new { Area=""})",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ BrandID: $(this).val(), ReturnType: "JSON" }),
                async: true,
                success: function (data) {
                    if (data.length == 0) {
                        $("#BrandID").val('');
                        msg.WithError('Brand Not Found');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        });

        $("#SeasonID").blur(function () {
            var BrandID = $('#BrandID').val();
            $.ajax({
                url: "@Url.Action("SeasonList", "PublicWindow",new { Area=""})",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ BrandID: BrandID, SeasonID: $(this).val(), ReturnType: "JSON" }),
                async: true,
                success: function (data) {
                    if (data.length == 0) {
                        $("#SeasonID").val('');
                        msg.WithError('Season Not Found');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        });

        $("#StyleID").blur(function () {
            var BrandID = $('#BrandID').val();
            var SeasonID = $('#SeasonID').val();
            $.ajax({
                url: "@Url.Action("StyleList", "PublicWindow",new { Area=""})",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ BrandID: BrandID, SeasonID: SeasonID, StyleID: $(this).val(), ReturnType: "JSON" }),
                async: true,
                success: function (data) {
                    if (data.length == 0) {
                        $("#StyleID").val('');
                        msg.WithError('Style Not Found');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        });
    }

    function OpenWindow(WindowType) {
        if (WindowType == "BrandID") {
            window.open('@Url.Action("BrandList", "PublicWindow",new { Area=""})', WindowType, config = 'toolbar=no,status=no,location=no,width=400,height=650');
        }
        if (WindowType == "SeasonID") {
            window.open(`@Url.Action("SeasonList", "PublicWindow",new { Area=""})?BrandID=${$("#BrandID").val()}`, WindowType, config = 'toolbar=no,status=no,location=no,width=400,height=650');
        }
        if (WindowType == "StyleID") {
            var para = "?BrandID=" + $('#BrandID').val() + "&SeasonID=" + $('#SeasonID').val();
            window.open('@Url.Action("StyleList", "PublicWindow",new { Area=""})' + para, WindowType, config = 'toolbar=no,status=no,location=no,width=400,height=650');
        }
    }

    function GetBrandList(BrandID) {
        $("#BrandID").val(BrandID);
        // 在這邊取得開窗選擇的Brand，進行後續動作
    }
    function GetSeasonList(SeasonID) {
        $("#SeasonID").val(SeasonID);
        // 在這邊取得開窗選擇的Brand，進行後續動作
    }
    function GetStyleList(StyleID) {
        $("#StyleID").val(StyleID);
        // 在這邊取得開窗選擇的Brand，進行後續動作
    }
</script>