@using DatabaseObject.Public

@{
    Layout = null;
    string TargetID = ViewData["TargetID"] == null ? string.Empty : ViewData["TargetID"].ToString();
}

@model List<Window_Po_Supp_Detail>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />

<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

<style>

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        border: 1px solid black;
        padding: 2px;
    }

    td {
        border-style: ridge;
    }

    .head {
        border-top: 2px solid black;
        text-align: center;
        font-size: 1.2em;
        background-color: lightgray;
    }

    tbody tr:hover {
        cursor: pointer;
    }
</style>

<fieldset style="width:900px;height:700px;">
    <legend>Seq</legend>
    @using (Html.BeginForm("Po_Supp_DetailList", ViewContext.RouteData.GetRequiredString("Controller"), new { }, FormMethod.Post, new { @width = "100%", @height = "5%", @style = "margin-bottom:10px;" }))
    {
        <input type="text" name="Seq" value="" />
        @Html.Hidden("FabricType", ViewData["FabricType"]);
        @Html.Hidden("POID", ViewData["POID"]);
        @Html.Hidden("TargetID", TargetID)
        <input type="submit" value="Query" />
        <input id="btnExit" type="button" value="Exit" />
    }

    <div style="width:100%;height:90%;overflow-y: scroll;">
        <table id="MyTable" style="width:100%;max-height:100%;" class="table table-striped display">
            <thead>
                <tr>
                    <th>Seq</th>
                    <th>SCIRefNO</th>
                    <th>Refno</th>
                    <th>ColorID</th>
                    <th>SuppID</th>
                    <th>Seq1</th>
                    <th>Seq2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.SEQ1-@item.SEQ2</td>
                        <td>@item.SCIRefno</td>
                        <td>@item.Refno</td>
                        <td>@item.ColorID</td>
                        <td>@item.SuppID</td>
                        <td>@item.SEQ1</td>
                        <td>@item.SEQ2</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</fieldset>

<script>


    $(function () {

        var table = $('#MyTable').DataTable({
            "filter": false,
            "paging": false,
            "info": false,
            columnDefs: [
                { targets: 0, orderable: false },
                { targets: 1, orderable: false },
                { targets: 2, orderable: false },
                { targets: 3, orderable: false },
                { targets: 4, orderable: false },
                { targets: 5, orderable: false, visible: false },
                { targets: 6, orderable: false, visible: false, },
            ],
        });

        $('#MyTable tbody').on('click', 'tr', function (data, type, full, meta) {

            // 取得整個Row
            var Po_Supp_DetailData = table.row(this).data();

            var Po_Supp_Detail = {
                Seq1: Po_Supp_DetailData[5],
                Seq2: Po_Supp_DetailData[6],
                SCIRefno: Po_Supp_DetailData[1],
                Refno: Po_Supp_DetailData[2],
                ColorID: Po_Supp_DetailData[3],
                SuppID: Po_Supp_DetailData[4],
            }

            // 呼叫父視窗的GetPo_Supp_Detail Function，把物件傳回去
            window.opener.GetPo_Supp_Detail(Po_Supp_Detail,'@TargetID');

            window.close();
        });


        $("#btnExit").click(function () {
            window.close();
        });
    });
</script>