@using DatabaseObject.ViewModel;
@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

<style>

    .fontColor {
        color: white;
        font-size: 1.6em;
    }

    .queryPadding {
        padding-right: 2vw;
    }

    .table-mainArea {
        width: 100%;
        background-color: #575757;
        vertical-align: middle;
        text-align: center;
    }

    .table-striped {
        background-color: white;
        vertical-align: middle;
        text-align: center;
    }

        .table-striped > tbody > tr:nth-of-type(even) {
            background-color: #F0F2F2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .table-striped > thead > tr > th {
            background-color: gray;
            padding: 1em;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }

        .table-striped > tbody > tr > td {
            padding: 1em;
        }

            .table-striped > tbody > tr > td > input {
                font-size: 1.2em;
                width: 9em;
            }

                .table-striped > tbody > tr > td > input[type="text"]:disabled {
                    background-color: transparent;
                }
</style>

<div class="main-content">

    <header class="page-header">
        <h3>
            <i class=""></i><span>RFT (per line)</span>
        </h3>
        <div class="breadcrumb">
            <div>Home</div>
            <div class="current">RFT (per line)</div>
        </div>
    </header>


    <div class="main-area">
        <div class="content-scroll">
            <div>
                @using (Html.BeginForm("Index", "PFTperLine", FormMethod.Post))
                {
                    <div>
                        <table>
                            <tr>

                                <td class="queryPadding">
                                    <label class="fontColor">Factory</label>
                                </td>
                                <td class="queryPadding">
                                    <select class="form-control inputStyle" id="Factory" name="Factory">
                                        @foreach (var item in (List<SelectListItem>)ViewBag.FactoryList)
                                        {
                                            string selected = item.Text.Equals(ViewBag.Factory) ? "selected" : "";
                                            <option value="@item.Value" @selected>@item.Text</option>
                                        }
                                    </select>
                                </td>
                                <td class="queryPadding">
                                    <label class="fontColor">Year</label>
                                </td>
                                <td class="queryPadding">
                                    <select class="form-control inputStyle" id="Years" name="Years">
                                        @foreach (var item in (List<SelectListItem>)ViewBag.YearsList)
                                        {
                                            string selected = item.Text.Equals(ViewBag.Year) ? "selected" : "";
                                            <option value="@item.Value" @selected>@item.Text</option>
                                        }
                                    </select>                                    
                                </td>
                                <td class="queryPadding">
                                    <label class="fontColor">Month</label>
                                </td>
                                <td class="queryPadding">
                                    <select class="form-control inputStyle" id="Month" name="Month">
                                        @foreach (var item in (List<SelectListItem>)ViewBag.MonthList)
                                        {
                                            string selected = item.Value.Equals(ViewBag.Month) ? "selected" : "";
                                            <option value="@item.Value" @selected>@item.Text</option>
                                        }
                                    </select>                                    
                                </td>
                                <td class="queryPadding">
                                    <input class="site-btn btn-gy btn-sm" type="submit" name="name" id="btnQuery" value="Query" />
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </div>
            <br />
            <h3 class="fontColor">Monthly RFT</h3>
            <br />
            <div style=" padding-right: 2.5vw">
                <div class="inner-scroll" style="float: left; height: 13vh; overflow-y: hidden">
                    <table cellspacing="100" class="table-striped" style="width:550%;">
                        <thead>
                            <tr>
                                @foreach (DataColumn item in Model.MonthlyData.Columns)
                                {

                                    <th style="width:10vw">@item.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (DataRow items in Model.MonthlyData.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn column in Model.MonthlyData.Columns)
                                    {
                                        <td>
                                            @items[column]
                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <h3 class="fontColor">Daily RFT</h3>
            <br />
            <div style=" padding-right: 2.5vw">

            <div class="inner-scroll" style="float: left ;height: 40vh;">
                    <table cellspacing="100" class="table-striped" style="width:550%;">
                        <thead>
                            <tr>
                                @foreach (DataColumn item in Model.DailyData.Columns)
                                    {

                                        <th style="width:10vw">@item.ColumnName</th>
                                    }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (DataRow items in Model.DailyData.Rows)
                                {
                                    <tr>
                                        @foreach (DataColumn column in Model.DailyData.Columns)
                                        {
                                            <td>
                                                @items[column]
                                            </td>
                                        }
                                    </tr>
                                }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    var items = @Html.Raw(Json.Encode(Model.monthlyRFTs));

    var thead = "";
    var tbody = "";

    var isfirst = true;
    $.each(items, function (index, value) {
        if (isfirst) {
            thead +=
                `<th><p>Month</p></th>`
            tbody +=
                `<td><p>${value.Month}</p></td>`
            isfirst = false;
        }

        thead +=
            `<th><p>${value.Line}</p></th>`
        tbody +=
            `<td><p>${value.RFT}</p></td>`
    });

    thead = `<tr>${thead}<\tr>`
    tbody = `<tr>${tbody}<\tr>`

    $('.MonthlyTable>thead').html(thead);
    $('.MonthlyTable>tbody').html(tbody);



    $(function () {
        if (!$("body").hasClass("sidebar-collapse")) {
            $(".menu-trigger").click();
        }
    });

</script>
