
@{
    /**/

    ViewBag.Title = "Add Defect";
}

@model DatabaseObject.ViewModel.FinalInspection.AddDefect
@section FinalInspection_head{
    <link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
    <link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

    <style type="text/css">
        #CheckListTable_previous, #CheckListTable_next {
            color: white !important;
        }

        tr.shown td.details-control {
            background: url('/Image/Icon/ChildRowClose.png') no-repeat center center;
        }

        td.details-control {
            background: url('/Image/Icon/ChildRowOpen.png') no-repeat center center;
        }

        #CheckListTable {
            font-size: 1.4em;
        }

        .ColTitle {
            text-align: center;
        }
    </style>
}
@Html.Partial("~/Areas/FinalInspection/Views/Shared/_Inspection_Layout.cshtml")
<div class="DownWhiteBackgrond">
    @using (Html.BeginForm("AddDefect", "Inspection", FormMethod.Post, new { @id = "AddDefectForm", onsubmit = "return checkValue(this.submitted)" }))
    {

        <div style="padding:2em 3em 2em 3em;width:95%;float:left;position: absolute;transform: translate(-50%, 0%);left: 50%">

            @if (!string.IsNullOrEmpty(Model.FinalInspection.AcceptableQualityLevelsProUkey) && Model.FinalInspection_DefectDetails != null)
            {
                <div>
                    <h1 style="font-size: 2vh; font-weight: 900; ">
                        How many reject Qty(pcs)
                        @Html.TextBox("RejectQty", Model.RejectQty, new { @type = "number", @style = "width:10vw", @class = "form-control center-block", @readonly = "readonly" })
                        <input id="txtSearchDefect" type="text" placeholder="Search Defect Code" style=" float: right;" name="name" value="" />
                    </h1>
                </div>
                <br />
                for (int i = 0; i < Model.FinalInspection_DefectDetails.Count; i++)
                {
                    <label style="font-size: 1.5vh; font-weight: 900;">@Model.FinalInspection_DefectDetails[i].DefectCategoryDescription Reject Qty</label>
                    @Html.Hidden($"addDefct.FinalInspection_DefectDetails[{i}].ProUkey", Model.FinalInspection_DefectDetails[i].ProUkey)
                    @Html.Hidden($"addDefct.FinalInspection_DefectDetails[{i}].DefectCategoryUkey", Model.FinalInspection_DefectDetails[i].DefectCategoryUkey)
                    @Html.Hidden($"addDefct.FinalInspection_DefectDetails[{i}].FinalInspectionID", Model.FinalInspectionID)

                    @Html.TextBox($"addDefct.FinalInspection_DefectDetails[{i}].Qty", Model.FinalInspection_DefectDetails[i].Qty, new
               {
                   @class = "form-control center-block DefectQty",
                   @style = "width:3vw",
                   @type = "number",
                   @min="0",
                   @onchange= "AutoCacuRejectQty()",
               })
                }
            }
            else
            {
                <div>
                    <h1 style="font-size: 2vh; font-weight: 900; ">
                        How many reject Qty(pcs)
                        @Html.TextBox("RejectQty", Model.RejectQty, new { @type = "number", @style = "width:10vw", @class = "form-control center-block" })
                        <input id="txtSearchDefect" type="text" placeholder="Search Defect Code" style=" float: right;" name="name" value="" />
                    </h1>
                </div>
            }
            <table id="CheckListTable" class="cell-border" style="width:100%"></table>
        </div>
        <div style="width:100%">
            <input type="hidden" id="goPage" name="goPage">
            <button id="btnBack" onclick="this.form.submitted=this.value;" type="submit" value="Back" class="button" style="right:7em;">Back</button>
            <button id="btnNext" onclick="this.form.submitted=this.value;" type="submit" value="Next" style="right:0;" class="button">Next</button>
        </div>

        @Html.Hidden("FinalInspectionID", Model.FinalInspectionID)
        @Html.Hidden("SampleSize", Model.SampleSize)

    }

</div>
@section FinalInspection_script
{
    <script>
        var EditMode = false; //彈出視窗設定
        var msg = new MessagerAlert();

        // 摺疊資料需先轉成array
        var adata = [];

        var table;
        var items = @Html.Raw(Json.Encode(Model.ListFinalInspectionDefectItem));
        var lookup = {};
        var result = [];

        // 取出群組
        for (var item, i = 0; item = items[i++];) {
            var code = item.DefectTypeDesc;

            if (!(code in lookup)) {
                lookup[code] = 1;
                result.push(code);
            }
        }

        // 組摺疊用的array
        var keyCount = 0;

        while (keyCount < result.length)
        {
            var temp = [];

            for (var i = 0; i < items.length; i++) {

                if (result[keyCount] == items[i].DefectTypeDesc) {

                    var FinalInspection_DetailImage = items[i].ListFinalInspectionDefectImage;
                    temp.push([
                        items[i].Ukey
                        , items[i].DefectCodeDesc
                        , items[i].Qty
                        , FinalInspection_DetailImage.Image
                        , items[i].RowIndex
                        , items[i].DefectCode
                        , items[i].DefectType
                        , items[i].Operation
                        , items[i].Operator
                        , items[i].OperatorText
                        , items[i].AreaCode
                        , items[i].Remark
                    ]);
                }
            }

            adata.push([null, result[keyCount], 'Operation', 'Operator', 'AreaCode', 'Remark', temp])
            keyCount++
        }


        $(function () {
            table = $('#CheckListTable').DataTable({
                data: adata,
                autoWidth: false,
                destroy: true,
                columnDefs: [
                    { targets: 0, width: "2%", orderable: false },
                    { targets: 1, width: "38%", orderable: false },
                    { targets: 2, width: "13%", orderable: false },
                    { targets: 3, width: "13%", orderable: false },
                    { targets: 4, width: "13%", orderable: false },
                    { targets: 5, width: "13%", orderable: false },
                ],
                columns: [
                    {
                        "className": "details-control",
                    },
                    {
                        "style": "color:#E62513",
                    },
                    {
                        "className": "ColTitle",
                    },
                    {
                        "className": "ColTitle",
                    },
                    {
                        "className": "ColTitle",
                    },
                ],
                "filter": false,
                "paging": false,
                "info": false,
                "ordering": false,
                "pageLength": 10,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "createdRow": function (row, data, index) {
                    $('td', row).css('background-color', '#FAA7A7');
                    //取出DefectType 作為每一個大項的Key
                    $('td', row).attr('ID', 'CheckListTable_' + data[1].split('-')[0]);
                }
            });

            $("#CheckListTable tbody").on("click", "td.details-control", function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(formatChildTable(row.data())).show();
                    tr.addClass('shown');
                }
            });

            $("#txtSearchDefect").on('keyup', function () {

                if (event.keyCode != 13) {
                    return;
                }
                var defectCode = $(this).val();
                var foundGroup = [];
                if (defectCode != '') {
                    var domIdx = 0;
                    adata.some(function (group1) {
                        var isFoundit = false;
                        group1[6].some(function (group2) {
                            var isExists = group2[1].includes(defectCode);
                            if (isExists) {
                                isFoundit = true;
                                domIdx = group2[4];
                                return true;
                            }
                        });

                        if (isFoundit) {
                            foundGroup.push(group1[1].split('-')[0]);
                            return true;
                        }
                    });

                    foundGroup.some(function (value, index) {
                        $(`#CheckListTable_${value}`).click();
                        $(`input[name='addDefct.ListFinalInspectionDefectItem[${domIdx}].Qty`).focus();
                        return true;
                    });
                }
            });
        });

        function formatChildTable(dataList) {
            var list = dataList[6];
            var sTr = "";

            $(list).each(function (index, value) {

                var RowIndex = value[4];
                var Operation = value[7];
                var Operator = value[8];
                var OperatorText = value[9];
                var AreaCode = value[10];
                var Remark = value[11];

                sTr = sTr + "<tr><td style='width:30%'>" + value[1] + "</td>";
                sTr = sTr + `<td style='vertical-align: middle'>
    <input type='hidden' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Ukey' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Ukey' value='${value[0]}'>
    <input type='hidden' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].RowIndex' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].RowIndex' value='${RowIndex}'>
    <input type='hidden' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].DefectCode' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].DefectCode' value='${value[5]}'>
    <input type='hidden' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].DefectType' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].DefectType' value='${value[6]}'>
    <input type='number' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Qty' onchange='QtyChange("${value[6]}",${index},this)' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Qty'  min="0" style="width: 7vh" id='${value[0]} ' name='${value[0]}'  value='${value[2]}' /></td>
    <td> <img src="/Image/Icon/Camera.png" style="cursor: pointer;" onclick="ScreenShot(${value[0]},${RowIndex})" width="25vw" height="25vw" /></td>
    <td> <img src="/Image/Icon/Picture.png" style="cursor: pointer;" onclick="OpenPicture(${value[0]},${RowIndex})" width="25vw" height="25vw" /></td>
    <td><input type='text' style='width:100%' onclick="OpenOperation('${RowIndex}')" onchange='OperationChange("${value[6]}",${index},this)' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Operation' readonly name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Operation' value='${Operation}'></td>
    <td><input type='text' style='width:100%' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].OperatorText' onchange='OperatorTextChange("${value[6]}",${index},this)'  readonly name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].OperatorText' value='${OperatorText}'>
        <input type='hidden' style='width:100%' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Operator' onchange='OperatorChange("${value[6]}",${index},this)'  readonly name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Operator' value='${Operator}'>
    </td>
    <td>
        <input type='text' style='width:100%' onclick="OpenAreaCode('${RowIndex}')" onchange='AreaCodeChange("${value[6]}",${index},this)' id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].AreaCode' readonly name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].AreaCode' value='${AreaCode}'>
    </td>
    <td>
        <input type='text' style='width:100%'  id='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Remark' onchange='RemarkChange("${value[6]}",${index},this)' name='addDefct.ListFinalInspectionDefectItem[${RowIndex}].Remark' value='${Remark}'>
    </td>
    </tr>`;

            });
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                sTr +
                '</table>';
        }

        function OpenOperation(targetID) {
            var para = `?FinalInspectionID=${$('#FinalInspectionID').val()}&TargetID=${targetID}&Title=Operation`;
            window.open('@Url.Action("OperationList", "PublicWondow",new{Area=""})' + para, 'Operation List', config = 'toolbar=no,status=no,location=no,width=800,height=750');
        }

        function OpenAreaCode(targetID) {
            var val = $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].AreaCode']`).val();
            var para = `?FinalInspectionID=${$('#FinalInspectionID').val()}&TargetID=${targetID}&Title=Operation&oldValue=${val}`;

            window.open('@Url.Action("AreaCodeList", "PublicWondow",new{Area=""})' + para, 'Operation List', config = 'toolbar=no,status=no,location=no,width=800,height=750');
        }


        function GetOperationList(OperationObjs, targetID) {
            var strOperation = '';
            var strOperatorText = '';
            var strOperator = '';
            var dataLength = OperationObjs.length;
            var ctn = 0;
            $.each(OperationObjs, function () {
                ctn += 1;
                var spliter = ',';
                if (dataLength == ctn) {
                    spliter = '';
                }
                strOperation += this.Operation + spliter;
                strOperatorText += this.Text + spliter;
                strOperator += this.Value + spliter;
            });

            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].Operation']`).val(strOperation);
            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].OperatorText']`).val(strOperatorText);
            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].Operator']`).val(strOperator);

            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].Operation']`).change();
            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].OperatorText']`).change();
            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].Operator']`).change();
        }


        function GetAreaCodeList(AreaCodeObj, targetID) {
            var strAreaCode = '';
            //var strOperatorText = '';
            //var strOperator = '';
            var dataLength = AreaCodeObj.length;
            var ctn = 0;
            $.each(AreaCodeObj, function () {
                ctn += 1;
                var spliter = ',';
                if (dataLength == ctn) {
                    spliter = '';
                }
                strAreaCode += this.AreaCode + spliter;
            });

            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].AreaCode']`).val(strAreaCode);
            $(`input[name='addDefct.ListFinalInspectionDefectItem[${targetID}].AreaCode']`).change();
        }

        // Qty改變時，把值寫回DataTable的Datasource
        function QtyChange(DefectType, index,obj) {

            table.row($(`#CheckListTable_${DefectType}`).closest('tr')).data()[6][index][2] = $(obj).val();
        }

        // Operation改變時，把值寫回DataTable的Datasource
        function OperationChange(DefectType, index, obj) {

            table.row($(`#CheckListTable_${DefectType}`).closest('tr')).data()[6][index][7] = $(obj).val();
        }

        function OperatorChange(DefectType, index, obj) {

            table.row($(`#CheckListTable_${DefectType}`).closest('tr')).data()[6][index][8] = $(obj).val();
        }

        function AreaCodeChange(AreaCode, index, obj) {

            table.row($(`#CheckListTable_${AreaCode}`).closest('tr')).data()[6][index][10] = $(obj).val();
        }
        function RemarkChange(DefectType, index, obj) {

            table.row($(`#CheckListTable_${DefectType}`).closest('tr')).data()[6][index][11] = $(obj).val();
        }

        function OperatorTextChange(DefectType, index, obj) {

            table.row($(`#CheckListTable_${DefectType}`).closest('tr')).data()[6][index][9] = $(obj).val();
        }

        function checkValue(self) {

            document.getElementById("goPage").value = self;

            var rejectQty = $("#RejectQty").val();
            var model = @Html.Raw(Json.Encode(Model));
            var sampleSize = model.FinalInspection.SampleSize;

            if (rejectQty > sampleSize)
            {
                msg.WithError('＜ RejectQty ＞ can not bigger than ＜SampleSize＞');
                return false;
            }


            ShowLoading();

            //為避免POST抓不到畫面上的控制項，因此要全部打開
            var trlist = $("#CheckListTable tbody td.details-control");

            trlist.each(function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // 打開的就不用管他
                    //row.child.hide();
                    //tr.removeClass('shown');
                }
                else {
                    row.child(formatChildTable(row.data())).show();
                    tr.addClass('shown');
                }
            });

            return true;
        }

        function OpenPicture(DetailUkey, RowIndex) {

                window.open('@Url.Action("DefectPicture")?RowIndex=' + RowIndex +'&DetailUkey=' + DetailUkey, "Picture", config = 'toolbar=no,status=no,location=no,width=700,height=600');
        }

        function ScreenShot(DetailUkey, RowIndex) {

            window.open('@Url.Action("AddDefectTakePicture")?RowIndex=' + RowIndex +'&DetailUkey=' + DetailUkey, "Picture", config = 'toolbar=no,status=no,location=no,width=700,height=600');
        }
        function GetImage(Data, ImgSource) {
            //透過AJAX暫存成Temp Data


            //根據圖片來源決定存檔方式
            if (ImgSource == 'Camera') {
                var Ukey = Data.DetailUkey;
                var RowIndex = Data.RowIndex;
                var Picture = Data.Img.replace("data:image/png;base64,", "");
                var Remark = Data.Remark;

                var data =
                {
                    Ukey: Ukey,
                    RowIndex: RowIndex,
                    TempImage: Picture,
                    TempRemark: Remark,
                };

                $.ajax({
                    url: "@Url.Action("AddDefectPicturesTempSave", "Inspection", new { Area = "FinalInspection" })",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ data: data }),
                    async: true,
                    success: function (data) {
                        //msg.WithSuccess("Image OK!!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                    }
                });

            }

            if (ImgSource == 'File') {

                $.ajax({
                    url: "@Url.Action("BatchAddDefectPicturesTempSave", "Inspection", new { Area = "FinalInspection" })",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ list: Data }),
                    async: true,
                    success: function (data) {
                        //msg.WithSuccess("Image OK!!");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                    }
                });
            }
        }

        function AutoCacuRejectQty() {
            var defectQtyInputs = $(".DefectQty");

            // 加總所有數值
            var totalDefectQty = 0;
            defectQtyInputs.each(function () {
                var value = parseInt($(this).val());
                if (!isNaN(value)) {
                    totalDefectQty += value;
                }
            });


            $("#RejectQty").val(totalDefectQty);
        }
    </script>
}
