
@{
    ViewBag.Title = "General";
    string stage = Model == null ? string.Empty : Model.InspectionStage;
}
<link href="~/Areas/FinalInspection/CSS/FinalInspection.css" rel="stylesheet" />
@Html.Partial("~/Areas/FinalInspection/Views/Shared/_Inspection_Layout.cshtml")
<style type="text/css">

    .checkboxlabel {
        font-size: 3vh;
        font-weight: 900;
    }

    td {
        height: 2em
    }

    .fistTD {
        width: 55%;
        text-align: right;
        vertical-align: middle;
    }

    .secTD {
        width: 20%;
        text-align: center;
        vertical-align: middle;
    }

    .thirdTD {
        width: 25%;
        text-align: left;
        vertical-align: middle;
    }

    .al-m {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .tip {
        font-size: 20px;
        color: red;
    }
</style>

@model DatabaseObject.ManufacturingExecutionDB.FinalInspection

@using (Html.BeginForm("GoCheckList", "Inspection", FormMethod.Post, new { @id = "GeneralForm", onsubmit = "return checkValue(this.submitted)" }))
{
    <div class="DownWhiteBackgrond">

        <table class="al-m" style="width: 48%;">
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="SelectAll" style="color:red">Select All</label></div>
                </td>
                <td class="secTD">
                    <input type="checkbox" ID="SelectAll" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="FabricApprovalDoc">Fabric Approval</label></div>
                </td>
                <td class="secTD">
                    @*@Html.CheckBox("FabricApprovalDoc")*@
                    @Html.CheckBoxFor(o => o.FabricApprovalDoc, new { @class = "notSelectAll" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="SealingSampleDoc">Sealing Sample</label></div>
                </td>
                <td class="secTD">
                    @*@Html.CheckBox("SealingSampleDoc")*@
                    @Html.CheckBoxFor(o => o.SealingSampleDoc, new { @class = "notSelectAll" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="MetalDetectionDoc">Metal Detection</label></div>
                </td>
                <td class="secTD">
                    @*@Html.CheckBox("MetalDetectionDoc")*@
                    @Html.CheckBoxFor(o => o.MetalDetectionDoc, new { @class = "notSelectAll" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="GarmentWashingDoc">Garment Washing Test (FGWT)</label></div>
                </td>
                <td class="secTD">
                    @*@Html.CheckBox("GarmentWashingDoc")*@
                    @Html.CheckBoxFor(o => o.GarmentWashingDoc, new { @class = "notSelectAll" })
                </td>
                <td class="thirdTD"> 
                    <label class="tip">@Model.FGWT</label>
                </td>
            </tr>
            <tr>
                <td class="fistTD">
                    <div><label class="checkboxlabel" for="CheckFGPT">FGPT</label></div>
                </td>
                <td class="secTD">
                    @Html.CheckBoxFor(o => o.CheckFGPT, new { @class = "notSelectAll" })
                </td>
                <td class="thirdTD">
                    <label class="tip">@Model.FGPT</label>
                </td>
            </tr>
        </table>
        <input type="hidden" id="goPage" name="goPage">
        <p style="font-size: 16px;font-weight:bolder; position: absolute; right: 1em;bottom:4.3em;">Inline, Stagger can skip Metal Detection.</p>
        <button id="btnBack" onclick="this.form.submitted=this.value;" type="submit" value="Back" class="button" style="right:7em;padding: 0;">
            <p style=" font-size: 12px; padding: 14px 0">Back To Setting</p>
        </button>
        <button id="btnNext" onclick="this.form.submitted=this.value;" type="submit" value="Next" style="right:0;" class="button">Next</button>

        @Html.HiddenFor(o=>o.ID)
    </div>
}

@section FinalInspection_script
{
    <script>

        var msg = new MessagerAlert();

        $(function () {

            $("#SelectAll").change(function () {
                var currentCHK = $("#SelectAll").prop('checked');
                if (currentCHK) {
                    $('input[type=checkbox]').prop('checked', 'checked');
                }
                else {
                    $('input[type=checkbox]').prop('checked', '');
                }
            });

            $(".notSelectAll").change(function () {
                var currentCHK = $(this).prop('checked');
                if (!currentCHK) {
                    $("#SelectAll").prop('checked', '');
                }

            });
        });

        function checkValue(self) {

            document.getElementById("goPage").value = self;

            if (self == "Next") {

                if ('@stage' == "Inline" || '@stage' == "Stagger") {

                    if ($("#FabricApprovalDoc").prop("checked") == false || $("#SealingSampleDoc").prop("checked") == false || $("#GarmentWashingDoc").prop("checked") == false || $("#CheckFGPT").prop("checked") == false)
                    {
                        msg.WithError('These items must be selected before go to next step.');
                        return false;

                    }

                }
                else {
                    var selected = [];
                    var selectedList = $('input:checkbox:checked');
                    selectedList.each(function () {
                        selected.push($(this).val());
                    });

                    if (selected.length < 4) {
                        msg.WithError('These items must be selected before go to next step.');
                        return false;
                    }

                }
            }

            ShowLoading();

            return true;
        }

    </script>
}