
@{
    ViewBag.Title = "Measurement";
}

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

@Html.Partial("~/Areas/FinalInspection/Views/Shared/_Inspection_Layout.cshtml")

@model DatabaseObject.ViewModel.FinalInspection.Measurement



<style type="text/css">



    .col-auto {
        margin: 1em
    }

    .sub_title {
        font-size: 1.5em;
        color: #999999
    }


    .searchFont {
        font-size: 1vw;
        font-weight: 900;
    }

    .viewFont {
        font-size: 1.5vw;
        font-weight: 900;
    }

</style>

@using (Html.BeginForm("Measurement", "Inspection", FormMethod.Post, new { @id = "MeasurementForm", onsubmit = "return checkValue(this.submitted);" }))
{
    <div class="DownLeftWhiteBackgrond">
        <div style="border:0px;padding:2vh;">
            <h1 style="font-size: 3vh; font-weight: 900; color: #999999 ">Measurement for what?</h1>

        </div>
        <table style="width: 100%; margin-top: 2vh; ">
            <tbody>
                <tr>
                    <td align="right"><p class="searchFont">Article</p></td>
                    <td align="left" style="padding-left: 1vw;">
                        @Html.DropDownListFor(o => o.ListArticle, (List<SelectListItem>)ViewBag.ListArticle, null, new { @class = "form-control", id = "dropArticle" })
                    </td>
                </tr>
                <tr>

                    <td align="right"><p class="searchFont">Size</p></td>
                    <td align="left" style="padding-left: 1vw;">
                        @Html.DropDownListFor(o => o.ListSize, (List<SelectListItem>)ViewBag.ListSize, null, new { @class = "form-control", id = "dropSize" })
                    </td>
                </tr>

                <tr>
                    <td align="right"><p class="searchFont">Product Type</p></td>
                    <td align="left" style="padding-left: 1vw;">
                        @Html.DropDownListFor(o => o.ListProductType, (List<SelectListItem>)ViewBag.ListProductType, null, new { @class = "form-control", id = "dropProductType" })
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="DownRightWhiteBackgrond">
        <div style="border:0px;padding:2vh;">
            <h1 style="font-size: 3vh; font-weight: 900; color: #999999 ">Measurement</h1>
            <button type="button" class="site-btn btn-blue" style="position:absolute;top:1em;right:8.6em" onclick="open_View();">View</button>
            <button type="button" class="site-btn btn-blue" style="position:absolute;top:1em;right:0">Save</button>

            <table style="width: 20vw;">
                <tr>
                    <td><p class="searchFont">Unit</p></td>
                    <td>@Html.TextBoxFor(o => o.SizeUnit, new { @class = "form-control", @disabled = "disabled", @style = "width:10vw" }) </td>
                </tr>
            </table>

            <div style=" width: 51vw; height: 54vh; overflow-y: auto;">
                <table class="MeasurementTable DefectTable table table-striped display">

                    <thead style="text-align: center; font-size: 1.5vw; font-weight: 900;">
                        <tr>

                            <th style="width:50vw">
                                <p>Description</p>
                            </th>
                            <th style="width:10vw">
                                <p>Tol(+)</p>
                            </th>
                            <th style="width:10vw">
                                <p>Tol(-)</p>
                            </th>
                            <th style="width:10vw">
                                <p idx="SizeCode"></p>
                            </th>
                            <th style="width:10vw">
                                <p></p>
                            </th>
                            <th style="width:10vw">
                                <p>Diff</p>
                            </th>
                        </tr>
                        <tr><th></th></tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td colspan="6" style="height: 8vh;vertical-align: middle;" valign="middle" align="center">
                                <h3>Data Loading.......</h3>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>



        </div>

        <input type="hidden" id="goPage" name="goPage">
        <div style="position:absolute;right:3em;bottom:6em;font-size:0.8em">Inline, Stagger stage can skop this step</div>
        <button id="btnBack" onclick="this.form.submitted=this.value;" type="submit" value="Back" style="right:7em;" class="button">Back</button>
        <button d="btnNext" onclick="this.form.submitted=this.value;" type="submit" value="Next" style="right:0;" class="button">Next</button>


    </div>
}


    <div class="detail-dialog to-edit-detail">
        <div class="detail-dialog-content dialog-content-w-icon" style="height:40vh">
            <table style="width: 100%; margin-top: 2vh; ">
                <tbody>
                    <tr>
                        <td align="right">
                            <div class="col-auto"><p class="viewFont" style="color:white">Style#</p></div>
                        </td>
                        <td align="center">
                            <div class="col-auto"><select class="form-control" id="ViewListArticle" name="ViewListArticle"></select></div>
                        </td>

                        <td align="right"><p class="viewFont" style="color:white">Size</p></td>
                        <td align="center">
                            <div class="col-auto"><select class="form-control" id="ViewkListSize" name="ViewkListSize"></select></div>
                        </td>
                        <td width="10%" align="right"><p class="viewFont" style="color: white; width: 10vw;">Product Type</p></td>
                        <td align="center">
                            <div class="col-auto"><select class="form-control" id="ViewListProductType" name="ViewListProductType"></select></div>
                        </td>
                        <td align="right"><p class="viewFont" style="color:white">Unit</p></td>
                        <td align="center">
                            <div class="col-auto">  @Html.TextBoxFor(o => o.SizeUnit, new { @style = "width:10vw", @class = "form-control", @disabled = "disabled" })</div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

    var msg = new MessagerAlert();

    $(".detail-dialog").dialog({
        autoOpen: false,
        modal: true,
        closeText: ' ',
        width: 500,
        minHeight: 400,
        position: {
            my: "center top",
            at: "center top",
            of: window
        },
        dialogClass: "site-box",
        open: function (event, ui) {
            $('.ui-widget-overlay').bind('click', function () {
                //location.reload();//強制Refresh頁面 Benson
                $(".ui-dialog-content").dialog('close');
            });
            $(this).parent().siblings().find(".ui-dialog-content").dialog('close');

        },
        close: function () {
        },
    });

    $(".to-edit-detail").dialog({
        width: "70%",

    });

    $(".to-edit-detail").on("dialogclose", function (event, ui) {
        EditMode = false;
    });


    function open_View() {

                $.ajax({
                url: "@Url.Action("OpenView", new { Area = "FinalInspection" })",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(),
                async: true,
                    success: function (data) {
                        var articleOption = "", sizeOption = "", productTypeOption="";
                        var articleArrList = [], sizeArrList = [], productTypeArrList = [];

                        $.each(data, function (index, value) {
                            articleArrList.push(value.Article);
                            sizeArrList.push(value.Article+','+value.Size);
                            productTypeArrList.push(value.Article + ',' +value.ProductType);
                        });

                        $.each(articleArrList.filter(onlyUnique), function (index, value) {
                            articleOption += "<option value=" + value + ">" + value + "</option>";
                        });

                        $.each(sizeArrList.filter(onlyUnique), function (index, value) {
                            sizeOption += "<option value=" + value + " >" + value.split(',')[1] + "</option>";
                        });

                        $.each(productTypeArrList.filter(onlyUnique), function (index, value) {
                            productTypeOption += "<option value=" + value + ">" + value.split(',')[1]  + "</option>";
                        });

                        $("#ViewListArticle").html(articleOption);
                        $("#ViewkListSize").html(sizeOption);
                        $("#ViewListProductType").html(productTypeOption);

                        reloadViewitem();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
                    });



        $(".to-edit-detail").dialog("open");
    }

    $(document).ready(function () {
        $("#ViewListArticle").on("change", function () {

            reloadViewitem();

        });
    });



    function checkValue(self) {
        document.getElementById("goPage").value = self;

        return true;
    }

    function reloadViewitem() {
        var article = document.getElementById("ViewListArticle").value;
        var  sizeOption = "", productTypeOption = "";

        $("#ViewkListSize > option").each(function () {

            if (this.value.split(',')[0] == article) {
                sizeOption += "<option value=" + this.value + ">" + this.text + "</option>";
            }
            else {
                sizeOption += "<option hidden value=" + this.value + ">" + this.text + "</option>";
            }
        });


        $("#ViewkListSize").html(sizeOption);


        $("#ViewListProductType > option").each(function () {

            if (this.value.split(',')[0] == article) {
                productTypeOption += "<option value=" + this.value + ">" + this.text + "</option>";
            }
            else {
                productTypeOption += "<option hidden value=" + this.value + ">" + this.text + "</option>";
            }
        });


        $("#ViewListProductType").html(productTypeOption);

        return true;
    }


    $(document).ready(function () {
        $("#dropSize").on("change", function () {

            ReloadData();

        });
    });



    function ReloadData() {
        var dropArticle = document.getElementById("dropArticle");
        var dropSize = document.getElementById("dropSize");
        var dropProductType = document.getElementById("dropProductType");

        if (dropArticle.value == "" || dropSize.value == "" || dropProductType.value == "") {
            return;
        }

        var thead = "";
        var SizeUnit = document.getElementById("SizeUnit").value ;
        var tbody = "";


        if (thead == "") {
            thead += `<tr>";
            <th style="width:50vw"><p>Description</p></th>
            <th style="width:10vw"><p>Tol(+)</p></th>
            <th style="width:10vw"><p>Tol(-)</p></th>
            <th style="width:10vw"><p idx='SizeCode'>${dropSize.value}</p></th>
            <th style="width:10vw"></th>
            <th style="width:10vw"><p>Diff</p></th>
            </tr>`;
        }


        var items = @Html.Raw(Json.Encode(Model.ListMeasurementItem));
        $.each(items, function (index, value) {
            if (value.Size == dropSize.value) {

                var readonly = "";
                var bgColor = "white";
                if (!value.CanEdit) {
                    bgColor = "bg-lightgray";
                    readonly = "readonly";
                }

                tbody +=  `<tr >
                <td class='bg-lightblue' style ="vertical-align: middle;"><p style ='padding: 0.5vh'>${value.Description}</p></td>
                <td class='bg-lightblue' style ="vertical-align: middle;"><p style ='padding: 0.5vh' idx='Tol+'>${value.Tol1}</p></td>
                <td class='bg-lightblue' style ="vertical-align: middle;"><p style ='padding: 0.5vh' idx='Tol-'>${value.Tol2}</p></td>
                <td class='bg-lightgray' style ="vertical-align: middle;"><p style ='padding: 0.5vh' idx='standard'>${value.SizeSpec}</p></td>`;

           if (SizeUnit == "INCH") {
               tbody += "<td  style ='vertical-align: middle;' class='" + bgColor + "'><input type='text' idx='SizeSpec' placeholder= '__ __/__' style ='width:7vw; height:3.5vh' class='" + bgColor + "' " + readonly + "></td>";
        }
        else {
               tbody += "<td  style ='vertical-align: middle;' class='" + bgColor + "'><input type='number' idx='SizeSpec' style ='width:7vw; height:2.5vh' class='" + bgColor + "' " + readonly + "></td>";
        }

                tbody += "<td style ='vertical-align: middle;'><p style ='padding: 0.5vh' class='Diff'></p></td>";
                tbody += "</tr>";
            }
        });

        $('.MeasurementTable>thead').html(thead);
        $('.MeasurementTable>tbody').html(tbody);

        $(".MeasurementTable>tbody>tr>td>input[idx='SizeSpec']").on('change', function () {
            var unit = document.getElementById("SizeUnit").value;
            const rules = /^(((([0-9]{1,3}[ ])|(^))\d{1,2}[/]\d{1,2})|([0-9]{1,3}))$/;
            var bol = rules.test($(this).val());
            var val = $(this).val();
            var standard = $(this).parent().parent().children().find("p[idx='standard']").html();
            var tolh = $(this).parent().parent().children().find("p[idx='Tol+']").html();
            var toll = $(this).parent().parent().children().find("p[idx='Tol-']").html();

            if (val == "" || val <= 0) {
                $(this).val("");
                $(this).parent().parent().children().find("p[class='Diff']").html('');
                $(this).parent().parent().children().find("p[class='Diff']").parent().removeClass("bg-lightred");
                return;
            }

            if (unit == "INCH" && !bol) {
                msg.WithError("Format incorrect");
                $(this).val("");
                return;
            }

            // 計算Diff
            if (unit == "INCH") {
                if (standard.indexOf('.') > -1) {
                    return;
                }

                var finval = FractionDiff(standard, val);
                $(this).parent().parent().children().find("p[class='Diff']").html(finval);

                var sTolh = FractionAdd(standard, tolh);
                var sToll = FractionDiff(standard, toll);

                var diffTolh = String(FractionDiff(sTolh, val));
                var diffToll = String(FractionDiff(val, sToll));
                if (diffTolh.indexOf('-') > -1 || diffToll.indexOf('-') > -1) {
                    $(this).parent().parent().children().find("p[class='Diff']").parent().addClass("bg-lightred");
                }
                else {
                    $(this).parent().parent().children().find("p[class='Diff']").parent().removeClass("bg-lightred");
                }
            }
            else {
                if (standard.indexOf('/') > -1) {
                    return;
                }

                var finval = accSubtr(standard, val);
                $(this).parent().parent().children().find("p[class='Diff']").html(finval);

                val = parseFloat(val);
                var sTolh = parseFloat(accAdd(standard, tolh));
                var sToll = parseFloat(accSubtr(standard, toll));
                if (sTolh >= val && val >= sToll) {
                    $(this).parent().parent().children().find("p[class='Diff']").parent().removeClass("bg-lightred");
                }
                else {
                    $(this).parent().parent().children().find("p[class='Diff']").parent().addClass("bg-lightred");
                }
            }
        });

    }

    </script>
