
@{
    ViewBag.Title = "Measurement";
}
@Html.Partial("~/Areas/FinalInspection/Views/Shared/_Inspection_Layout.cshtml")

@using DatabaseObject.ViewModel.FinalInspection;



@model Measurement

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

<style type="text/css">
    .table-mainArea {
        width: 100%;
        background-color: #575757;
        vertical-align: middle;
        text-align: center;
    }

    .table-striped {
        background-color: white;
        vertical-align: middle;
        text-align: center;
    }

        .table-striped > tbody > tr:nth-of-type(even) {
            background-color: #F0F2F2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .table-striped > thead > tr > th {
            background-color: gray;
            padding: 1em;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }

        .table-striped > tbody > tr > td {
            padding: 1em;
        }

            .table-striped > tbody > tr > td > input {
                font-size: 1.2em;
                width: 9em;
            }

                .table-striped > tbody > tr > td > input[type="text"]:disabled {
                    background-color: transparent;
                }

    #Content {
        overflow: auto;
        margin-top: 1em;
    }

        #Content > table {
            width: 100%;
            font-size: 1.2em;
        }

            #Content > table > tbody > tr > td:nth-child(3) {
                width: 1em;
            }
</style>

<div class="main-content">

    <div class="main-area">
        <div class="content-scroll">
            <div class="inner-scroll">
                @using (Html.BeginForm("Measurement", "Inspection",  FormMethod.Post))
                {
                    <table class="table-mainArea">
                        <tbody>
                            <tr>
                                <td style="vertical-align:middle;">
                                    <table class="table-striped">
                                        <tbody>
                                            <tr>
                                                <td><h4>Article</h4></td>
                                                <td>
                                                    <textarea cols="20" id="ListMeasurementItem_Tol2" name="ListMeasurementItem[0].Tol2" rows="2">22</textarea>
                                                    @Html.DropDownListFor(o => o.ListArticle, (List<SelectListItem>)ViewBag.ListArticle, null, new { @class = "form-control", id = "dropListArticle" })

                                                </td>
                                                <td><h4>Size</h4></td>
                                                <td>
                                                    @Html.DropDownListFor(o => o.ListSize, (List<SelectListItem>)ViewBag.ListSize, null, new { @class = "form-control", id = "dropListSize" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><h4>Product Type</h4></td>
                                                <td>
                                                    @Html.DropDownListFor(o => o.ListProductType, (List<SelectListItem>)ViewBag.ListProductType, null, new { @class = "form-control", id = "dropListProductType" })
                                                </td>
                                                <td><h4>Unit</h4></td>
                                                <td>
                                                    @Html.TextBoxFor(o => o.SizeUnit, "", new { @class = "form-control", @disabled = "disabled" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom: 1em;">
                                                    <button id="Find" type="submit" class="btn btn-gy" style="width: 7vw; height: 5vh; color:black; font-weight:bold;">Find</button>
                                                </td>
                                                <td style="padding-bottom: 1em;">
                                                    <button id="test" type="submit" class="btn btn-gy" style="width: 7vw; height: 5vh; color:black; font-weight:bold;">Test</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="content-scroll" style=" height: calc( 100vh - 280px )">
                        <div class="inner-scroll" style="float:left">
                            <div>
                                <table cellspacing="100" id="myTable" class="table table-striped display">
                                    <thead>
                                        <tr id="row-name" class="row-name">
                                            <th>Description</th>
                                            <th>Tol(+)</th>
                                            <th>Tol(-)</th>
                                            <th>L</th>
                                            <th></th>
                                            <th>Diff</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ListMeasurementItem in Model.ListMeasurementItem)
                                        {
                                            <tr class="row-content" style="vertical-align: middle; text-align: center;">
                                                <td>
                                                    @Html.DisplayFor(modelItem => ListMeasurementItem.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ListMeasurementItem.Tol1)
                                                </td>
                                                <td>
                                                    @Html.TextAreaFor(modelItem => ListMeasurementItem.Tol2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ListMeasurementItem.SizeSpec)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => ListMeasurementItem.ResultSizeSpec)
                                                </td>
                                                <td>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>


                                <div class="row MeasurementRowHeader">
                                    <div class="col-auto"><p>SP no.</p></div>
                                    <div class="col-auto"><p class="darkblue SP"></p></div>
                                    <div class="col-auto"><p>Style#</p></div>
                                    <div class="col-auto"><p class="darkblue Style"></p></div>
                                    <div class="col-auto"><p>Article</p></div>
                                    <div class="col-auto"><p class="darkblue Article"></p></div>
                                    <div class="col-auto"><p>Unit</p></div>
                                    <div class="col-auto"><p class="darkblue Unit"></p></div>
                                </div>
                                <div style=" width: 83vw; height: 70vh; overflow-y: auto;">
                                    <table class="MeasurementTable DefectTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <p>Coding</p>
                                                </th>
                                                <th>
                                                    <p>Description</p>
                                                </th>
                                                <th>
                                                    <p>Tol(+)</p>
                                                </th>
                                                <th>
                                                    <p>Tol(-)</p>
                                                </th>
                                                <th>
                                                    <p idx="SizeCode"></p>
                                                </th>
                                                <th>
                                                    <p></p>
                                                </th>
                                                <th>
                                                    <p>Diff</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7" style="height: 8vh;vertical-align: middle;" valign="middle" align="center">
                                                    <h3>Data Loading.......</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<textarea id="JsonBody" class="display-None">@Model.JsonBody</textarea>*@
                }

                <div id="Content">

                </div>
            </div>
        </div>



    </div>



</div>


<script type="text/javascript">
    var msg;
    $(function () {
        msg = new MessagerAlert();

        $('#OrderID').on('change', function () {
            var val = $(this).val();
            if (val.trim() == "") {
                return;
            }
            $.ajax({
                url: "@Url.Action("SpCheck", "Measurement", new { Area = "SampleRFT" })",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ SP: val }),
                async: true,
                success: function (data) {
                    if (data.Result) {
                        $(this).val(data.OrderID);
                        $('#OrderTypeID').val(data.OrderTypeID);
                        $('#StyleID').val(data.StyleID);
                        $('#SeasonID').val(data.SeasonID);
                        $('#Unit').val(data.Unit);
                        var option = "";
                        $.each(data.Articles, function (index, value) {
                            option += "<option value=" + value + ">" + value + "</option>";
                        });
                        $("#Article").html(option);
                    }
                    else {
                        msg.WithError(data.ErrMsg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        });


        //if ($('#JsonBody').val() != "") {
        //    var datas = JSON.parse($('#JsonBody').val());
        //    $('#Content').html(generateTable(datas, "Measurement"));
        //    $('#Content').children("table").addClass("table-striped");
        //}
    });


    $(document).ready(function () {
        $("#dropListArticle").on("change", function () {

            ReloadData();

        });
    });


    $(document).ready(function () {
        $("#dropListSize").on("change", function () {

            ReloadData();

        });
    });


    $(document).ready(function () {
        $("#dropListProductType").on("change", function () {

            ReloadData();

        });
    });

    function ReloadData()
    {
        var dropListArticle = document.getElementById("dropListArticle");
        var dropListSize = document.getElementById("dropListSize");
        var dropListProductType = document.getElementById("dropListProductType");

        if (dropListArticle.value == "" || dropListSize.value == "" || dropListProductType.value=="" )
        {
            return;
        }

        var thead = "";
        var SizeUnit = "";
        var tbody = "";

        if (thead == "") {
            thead += "<tr>";
            thead += "<th><p>Coding</p></th>";
            thead += "<th><p>Description</p></th>";
            thead += "<th><p>Tol(+)</p></th>";
            thead += "<th><p>Tol(-)</p></th>";
            thead += "<th><p idx='SizeCode'>" + "111" + "</p></th>";
            thead += "<th><p>" + "111"+ "</p></th>";
            thead += "<th><p>Diff</p></th>";
            thead += "</tr>";

            SizeUnit = "111";
        }

        bgColor = "bg-lightgray";
        var readonly = "";

        tbody += "<tr idx='" + "111" + "' idv='" + "111" + "' idi='" + "111" + "'>";
        tbody += "<td class='bg-lightblue'><p idx='Code'>" + "111" + "</p></td>";
        tbody += "<td class='bg-lightblue'><p>" + "111" + "</p></td>";
        tbody += "<td class='bg-lightblue'><p idx='Tol+'>" + "111" + "</p></td>";
        tbody += "<td class='bg-lightblue'><p idx='Tol-'>" + "111" + "</p></td>";
        tbody += "<td class='bg-lightgray'><p idx='standard'>" + "111" + "</p></td>";

        if ("111" == "INCH") {
            tbody += "<td class='" + bgColor + "'><input type='text' idx='SizeSpec' placeholder= '__ __/__' class='" + bgColor + "' " + readonly + "></td>";
        }
        else {
            tbody += "<td class='" + bgColor + "'><input type='number' idx='SizeSpec' class='" + bgColor + "' " + readonly + "></td>";
        }

        tbody += "<td><p class='Diff'></p></td>";
        tbody += "</tr>";

        $('.MeasurementRowHeader .Unit').html(SizeUnit);
        $('.MeasurementTable>thead').html(thead);
        $('.MeasurementTable>tbody').html(tbody);

    }

</script>



