
@{
    ViewBag.Title = "Others";
}
@Html.Partial("~/Areas/FinalInspection/Views/Shared/_Inspection_Layout.cshtml")
<style type="text/css">


    .Font {
        font-size: 1.5em;
        font-weight: 900;
    }

    .textFont {
        font-size: 1.5em;
    }


    td {
        height: 4em;
        padding: 1em
    }

    .ColumnStype {
        text-align: right;
    }

    .ColunTD {
        width: 28%;
    }

    .ValueTD {
        width: 29%;
    }


    .al-m {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
</style>

@model DatabaseObject.ViewModel.FinalInspection.Others
<div class="DownWhiteBackgrond" style="display: flex; flex-wrap: nowrap; height: 76vh;">
    @using (Html.BeginForm("Others", "Inspection", FormMethod.Post, new { @id = "OthersForm", onsubmit = "return checkValue(this.submitted)" }))
    {
        <table class="al-m" style="width: 80% ; align-items: center; ">

            <tr>
                <td class="ColumnStype ColunTD"><label class="Font">CFA</label></td>
                <td class="ValueTD">
                    <div class="textFont"> @Html.DisplayFor(o => o.CFA)   </div>
                    @Html.HiddenFor(o => o.CFA)
                </td>

                <td class="ColumnStype ColunTD"><label class="Font">Inspection Result</label></td>
                <td class="ValueTD">
                    @if (Model != null)
                    {
                        string color = "#00CC00";
                        if (Model.InspectionResult == "Fail")
                        {
                            color = "#E62513";
                        }


                        <div class="textFont" style="color:@color">
                            @Html.DisplayFor(o => o.InspectionResult)
                        </div>

                    }
                    @Html.HiddenFor(o=>o.InspectionResult)
                </td>
            </tr>

            <tr>
                <td class="ColumnStype"><label class="Font">Production Status</label></td>
                <td>
                    @Html.TextBoxFor(o => o.ProductionStatus, new { @class = "form-control center-block", @type = "number", @step = "0.01", @placeholder = "0.00", @max = "100", @oninput = "if(parseInt(value) > 100)value=100" })
                    <label class="Font">%</label>
                </td>
                <td class="ColumnStype"><label class="Font">Shipment Status</label></td>
                <td>
                    @if (Model != null)
                    {
                        string color = "#00CC00";
                        if (Model.ShipmentStatus == "On Hold")
                        {
                            color = "#E62513";
                        }

                        <div class="textFont" style="color:@color">
                            @Html.DisplayFor(o => o.ShipmentStatus)
                        </div>
                    }

                    @Html.HiddenFor(o => o.ShipmentStatus)

                </td>
            </tr>

            <tr>
                <td class="ColumnStype"><label class="Font">Other Photo</label></td>
                <td>
                    <img src="~/Image/Icon/Camera.png" width="30" height="30" style="cursor: pointer;" onclick="ScreenShot()"/>
                    <img src="~/Image/Icon/Picture.png" width="30" height="30" style="cursor: pointer;" onclick="OpenPicture()"  />
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="ColumnStype" style="vertical-align:top;"><label class="Font"></label></td>
                <td colspan="3" style="color: red">Please upload measurement picture if you need</td>
            </tr>
            <tr>
                <td class="ColumnStype" style="vertical-align:top;"><label class="Font">Remark</label></td>
                <td colspan="2">

                    @Html.TextAreaFor(o => o.OthersRemark, new { @style = "width:calc(100% - 80px);" })

                </td>
                <td></td>

            </tr>

        </table>
        <input type="hidden" id="goPage" name="goPage">
        <button id="btnBack" onclick="this.form.submitted=this.value;" type="submit" value="Back" style="right: 7em;" class="button">Back</button>
        <button d="btnSubmit" onclick="this.form.submitted=this.value;" type="submit" value="Submit" style="right: 0; padding: 12px 25px" class="button">Submit</button>

        @Html.HiddenFor(o=>o.FinalInspectionID)
    }
</div>

<script>

    var msg = new MessagerAlert();

    $(function () {
        @Html.Raw(Model.ErrorMessage)
    });

    function checkValue(self) {
        document.getElementById("goPage").value = self;

        ShowLoading();

        return true;
    }

    function OpenPicture() {
        window.open('@Url.Action("OthersPicture")?FinalInspectionID=@Model.FinalInspectionID', "Picture", config = 'toolbar=no,status=no,location=no,width=700,height=600');
    }


    function ScreenShot() {
        window.open('@Url.Action("OthersTakePicture")?FinalInspectionID=@Model.FinalInspectionID', "Picture", config = 'toolbar=no,status=no,location=no,width=700,height=600');
    }


    function GetImage(Data, ImgSource) {
        //透過AJAX暫存成Temp Data

        //根據圖片來源決定存檔方式
        if (ImgSource == 'Camera') {
            var FinalInspectionID = Data.FinalInspectionID;
            var Picture = Data.Img.replace("data:image/png;base64,", "");

            var data =
            {
                ID: FinalInspectionID,
                TempImage: Picture,
                TempRemark: Data.Remark,
            };

            $.ajax({
                url: "@Url.Action("AddthersTPicturesTempSave", "Inspection", new { Area = "FinalInspection" })",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ data: data }),
                async: true,
                success: function (data) {
                    //msg.WithSuccess("Image OK!!");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        }
        if (ImgSource == 'File') {

            $.ajax({
                url: "@Url.Action("BatchAddthersTPicturesTempSave", "Inspection", new { Area = "FinalInspection" })",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ list: Data }),
                async: true,
                success: function (data) {
                    //msg.WithSuccess("Image OK!!");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });

        }
    }
</script>
