<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>
<link href="~/Areas/FinalInspection/CSS/FinalInspection.css" rel="stylesheet" />



<style type="text/css">




    #Tab5Table_previous, #Tab5Table_next {
        color: black !important;
    }

    #row-name {
        color: black;
    }

    .searchFont {
        font-size: 1.5em;
        font-weight: 900;
    }

    .center {
        margin-top: 0vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vh;
    }
</style>

@model DatabaseObject.ViewModel.FinalInspection.QueryReport

<div class="content-scroll" style=" height: calc( 100vh - 280px )">
    <div class="inner-scroll" style="float:left">
        <div>
            <table cellspacing="100" id="Tab5Table" class="table table-striped display">
                <thead>
                    <tr id="row-name" class="row-name">
                        <th>Article</th>
                        <th>CTN#</th>
                        <th>Detection Instrument</th>
                        <th>Fabrication</th>
                        <th>Garment Moisture Standard</th>
                        <th>Garment Moisture Top</th>
                        <th>Garment Moisture Middle</th>
                        <th>Garment Moisture Bottom</th>
                        <th>Carton Moisture Standard</th>
                        <th>Carton Moisture Inside</th>
                        <th>Carton Moisture Outside</th>
                        <th>GResult</th>
                        <th>Action</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListViewMoistureResult)
                    {
                        string garmentTopColor = "Black";
                        if (item.GarmentTop > item.GarmentStandard)
                        {
                            garmentTopColor = "#E62513";
                        }

                        string garmentMiddleColor = "Black";
                        if (item.GarmentMiddle > item.GarmentStandard)
                        {
                            garmentMiddleColor = "#E62513";
                        }

                        string garmentBottomColor = "Black";
                        if (item.GarmentBottom > item.GarmentStandard)
                        {
                            garmentBottomColor = "#E62513";
                        }

                        string ctnInsideColor = "Black";
                        if (item.CTNInside > item.CTNStandard)
                        {
                            ctnInsideColor = "#E62513";
                        }

                        string ctnOutsideColor = "Black";
                        if (item.CTNOutside > item.CTNStandard)
                        {
                            ctnOutsideColor = "#E62513";
                        }

                        string resultColor = "#00CC00";
                        if (item.Result != "Pass")
                        {
                            resultColor = "#E62513";
                        }

                        <tr class="row-content" style="vertical-align: middle; text-align: center;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Article)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTNNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Instrument)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fabrication)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GarmentStandard)
                            </td>
                            <td>
                                <div style="color:@garmentTopColor">
                                    @Html.DisplayFor(modelItem => item.GarmentTop)
                                </div>
                            </td>
                            <td>
                                <div style="color:@garmentMiddleColor">
                                    @Html.DisplayFor(modelItem => item.GarmentMiddle)
                                </div>
                            </td>
                            <td>
                                <div style="color:@garmentBottomColor">
                                    @Html.DisplayFor(modelItem => item.GarmentBottom)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTNStandard)
                            </td>
                            <td>
                                <div style="color:@ctnInsideColor">
                                    @Html.DisplayFor(modelItem => item.CTNInside)
                                </div>
                            </td>
                            <td>
                                <div style="color:@ctnOutsideColor">
                                    @Html.DisplayFor(modelItem => item.CTNOutside)
                                </div>
                            </td>
                            <td>
                                <div style="color:@resultColor">
                                    @Html.DisplayFor(modelItem => item.Result)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Action)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>



<script type="text/javascript">


    var msg = new MessagerAlert();

    $(function () {

        $('#Tab5Table').DataTable({

            "pageLength": 10,
            "filter": false,
            "paging": true,
            "scrollY": "49vh",
            "scrollCollapse": true,
            "scrollX": true

        });
    });

</script>




