@using DatabaseObject.ViewModel.FinalInspection
@{
    ViewBag.Title = "Index";
}

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>
<link href="~/Areas/FinalInspection/CSS/FinalInspection.css" rel="stylesheet" />



<style type="text/css">


    #GirdTable > th {
        color: black
    }

    #GirdTable_previous, #GirdTable_next {
        color: black !important;
    }

    #row-name {
        color: black;
    }

    .searchFont {
        font-size: 1.5em;
        font-weight: 900;
        padding-right: 1vw;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .inputStyle {
        width: 10vw
    }

    #GirdTable td {
        height: 1vh;
        padding: 0.4vw;
    }
/*
    .dataTables_scroll {
        height: 56.4vh
    }*/

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: black !important;
    }
</style>

@model QueryFinalInspection_ViewModel


@using (Html.BeginForm("Index", "Query", FormMethod.Post, new { onsubmit = "return checkvalue()" }))
{
    <div class="search-condition">

        <div class="UpWhiteBackgrond" style="height:17.8vh">

            <table class="center" style="width: 100%;  height: 3vh ">
                <tr>
                    <td style="width:5%" align="right">
                        <p style=" width: 11vw" class="searchFont">SP#</p>
                    </td>
                    <td style="width:10%">
                        @Html.TextBox("SP", string.Empty, new { @class = "inputStyle" })
                    </td>
                    <td style="width:5%;padding-left:1vw" align="right">
                        <p class="searchFont ">PO#</p>
                    </td>
                    <td style="width:7%">
                        @Html.TextBox("CustPONO", string.Empty, new { @class = "inputStyle" })
                    </td>

                    <td style="width:9%" align="right">
                        <p style=" width: 16vw" class="searchFont">Style#</p>
                    </td>
                    <td style="width: 7%">
                        @Html.TextBox("StyleID", string.Empty, new { @class = "inputStyle" })
                    </td>
                    <td rowspan="2" style="width: 8%; vertical-align: middle" align="right">

                        <button type="submit" style="border: 0; background: transparent;">
                            <img src="~/Image/Icon/Query.png" width="40" height="40" alt="submit" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <p class="searchFont">Audit Date</p>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("AuditDateStart", string.Empty, new { @class = "form-control date-picker inputStyle" })
                        <label style="font-size: 2em">~</label>  @Html.TextBox("AuditDateEnd", string.Empty, new { @class = "form-control date-picker inputStyle" })
                    </td>
                    <td align="right">
                        <p class="searchFont">Inspection Result</p>
                    </td>
                    <td>
                        @Html.DropDownList("InspectionResult", (List<SelectListItem>)ViewBag.inspectionResultList, null, new { @class = "form-control inputStyle" })

                    </td>
                </tr>
                <tr>
                    <td align="right" style="vertical-align: middle;">
                        <p class="searchFont">Exclude Junk</p>
                    </td>
                    <td colspan="3">
                        @Html.CheckBoxFor(o => o.ExcludeJunk, new { @class = "inputStyle" })
                    </td>
                    <td align="right">
                        <p class="searchFont">Submit Date</p>
                    </td>
                    <td colspan="2">
                        @Html.TextBox("SubmitDateStart", string.Empty, new { @class = "form-control date-picker inputStyle" })
                        <label style="font-size: 2em">~</label>  @Html.TextBox("SubmitDateEnd", string.Empty, new { @class = "form-control date-picker inputStyle" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
}


<div class="DownWhiteBackgrond" style="height:74vh">
    <div style="border:0px;padding:1vw 1vw 0vw 1vw;">
        <h1 style="font-size: 3vh; font-weight: 900; color: #999999 ">&nbsp Inspection History</h1>
        <button class="site-btn btn-blue" style="position:absolute;top:1em;right:0" onclick="ClickDownload()">Download</button>
        <div class="content-scroll" style=" height: calc( 100vh - 267px )">
            <div class="inner-scroll" style="float:left">
                <div>
                    <table cellspacing="100" id="GirdTable" class="table table-striped display">
                        <thead>
                            <tr class="row-name" id="row-name">
                                <th>Inspection<br> Report</th>
                                <th>Inspection Result</th>
                                <th>SP#</th>
                                <th>PO#</th>
                                <th>Audit Date</th>
                                <th>SP# Qty</th>
                                <th>Sample lot Qty</th>
                                <th>Submit Date</th>
                                <th>Style</th>
                                <th>Season</th>
                                <th>Brand</th>
                                <th>Article</th>
                                <th>Inspection <br>Times</th>
                                <th>Inspection Stage</th>
                                <th>Re-Inspection</th>
                                <th>Is Transfer To PMS</th>
                                <th>Is Transfer To Pivot88</th>
                                <th>Junk</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                string color = string.Empty;

                                switch (item.InspectionResult)
                                {
                                    case "Fail":
                                        color = "#E62513";
                                        break;
                                    case "Pass":
                                        color = "#00CC00";
                                        break;
                                    case "On-Going":
                                        color = "#0000FF";
                                        break;
                                    case "Junk":
                                        color = "#000000";
                                        break;
                                }
                                <tr class="row-content" style="vertical-align: middle; text-align: center;">
                                    <td>
                                        <a href="@Url.Action("Detail",new { FinalInspectionID = item.FinalInspectionID })">
                                            <img src="~/Image/Icon/Document.png" width="20" height="20" />
                                        </a>

                                    </td>
                                    <td>
                                        <div style="color:@color">
                                            @Html.DisplayFor(modelItem => item.InspectionResult)
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustPONO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuditDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SPQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SampleSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubmitDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StyleID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Season)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Article)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InspectionTimes)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.InspectionStage)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.ReInspection, new { @disabled = true})
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsTransferToPMS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsTransferToPivot88)
                                    </td>
                                    <td idx="@item.FinalInspectionID">
                                        @if (item.InspectionResult == "On-going")
                                        {
                                            <input type="checkbox" onchange="ClickJunk($(this))">
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var msg = new MessagerAlert();

    $(function () {

        $('#GirdTable').DataTable({
            "pageLength": 10,
            "lengthChange": false,
            "filter": false,
            "paging": true,
            "scrollY": "50vh",
            "scrollCollapse": true,
            "scrollX": true,
            "autoWidth": false

        });

        @Html.Raw(Model.ErrorMessage)
    });


    function checkvalue() {
        if ($("#SP").val() == "" && $("#CustPONO").val() == "" && $("#StyleID").val() == "" && $("#AuditDateStart").val() == "" && $("#AuditDateEnd").val() == ""
            && $("#SubmitDateStart").val() == "" && $("#SubmitDateEnd").val() == "") {

            msg.WithError('SP# ,PO# ,Style# , Audit Date, Submit Date can not be empty.');
            return false;
        }
        else {
            return true;
        }

    }


    function ClickDownload() {
        var model = {
            SP: $('#SP').val(),
            CustPONO: $('#CustPONO').val(),
            StyleID: $('#StyleID').val(),
            InspectionResult: $('#InspectionResult').val(),
            AuditDateStart: $('#AuditDateStart').val(),
            AuditDateEnd: $('#AuditDateEnd').val(),
        };

        msg.WithInfoTimer("Report Generating...");

        $.ajax({
            url: "@Url.Action("DownloadTable", "Query", new { Area = "FinalInspection" })",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ model }),
            async: true,
            success: function (data) {
                if (data.Result) {
                    window.location.href = data.reportPath;
                }
                else {
                    console.log(data.ErrorMessage);
                    msg.WithError(data.ErrorMessage);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            }
        });
    }

    function ClickJunk(obj) {
        var checkbox = obj;
        var finalinspectionID = checkbox.parent().attr('idx');
        msg.WithConfirm("Are You Sure? Have been Junk, Can't be changed!!",
            function () {
                $.ajax({
                    url: "@Url.Action("ClickJunk", "Query", new { Area = "FinalInspection" })",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ ID: finalinspectionID }),
                    async: false,
                    success: function (data) {
                        if (data.Result) {
                            msg.WithSuccesCheck("Success", function () {
                                location.reload();
                            });
                        }
                        else {
                            msg.WithWarningCheck(data.ErrorMessage, function () {
                                location.reload();
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        msg.WithWarningCheck(xhr.responseText, function () {
                            location.reload();
                        });
                    }
                });
            },
            function () {
                checkbox.prop("checked", false);
            });
    }
</script>


