@using DatabaseObject.ViewModel.SampleRFT

@model StyleResult_ViewModel

<style>
    #myTable1_info {
        color: black
    }

    #myTable1_previous, #myTable1_next {
        color: black !important;
    }

    #myTable1_wrapper, #myTable1_wrapper > .dataTables_scrollHeadInner {
        width: 100%
    }

    #row-name {
        color: black;
    }
</style>
<div style="display:inline-block;width:100%;padding:5px 5px 5px 5px;color:white;">
    @if (!string.IsNullOrEmpty(Model.BrandID) && !string.IsNullOrEmpty(Model.BrandID) && !string.IsNullOrEmpty(Model.BrandID))
    {
        <a href="@Url.Action("IndexGet","CFTComments",new { Area="SampleRFT", BrandID = Model.BrandID,SeasonID=Model.SeasonID,StyleID=Model.StyleID})">
            <input type="button" class="btn-gy" id="CFTComment" name="name" value="CFT Comment" />
        </a>

        <input type="button" class="btn-gy" id="ToExcel" name="name" value="To Excel" />
    }

</div>
<table id="myTable1" class="table table-striped display">
    <thead>
        <tr class="row-name" id="row-name">
            <th>SP#</th>
            <th>Sample Stage</th>
            <th>Factory</th>
            <th>Delivery</th>
            <th>SCI Delivery</th>
            <th>Inspected Qty</th>
            <th>RFT</th>
            <th>BA Product</th>
            <th>BA Criteria</th>
            <th>Inspection Defect List</th>
            <th>Measurement</th>
            <th>Picture During Dummy Fitting</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.SampleRFT.Any())
        {
            foreach (var item in Model.SampleRFT)
            {
                <tr class="row-content" style="vertical-align: middle; text-align: center;">
                    <td>@item.SP</td>
                    <td>@item.SampleStage</td>
                    <td>@item.Factory</td>
                    <td>
                        @{ string Delivery = item.Delivery.HasValue ? item.Delivery.Value.ToShortDateString() : string.Empty;}
                        @Delivery
                    </td>
                    <td>
                        @{ string SCIDelivery = item.SCIDelivery.HasValue ? item.SCIDelivery.Value.ToShortDateString() : string.Empty;}
                        @SCIDelivery
                    </td>
                    <td>@item.InspectedQty</td>
                    <td>@item.RFT</td>
                    <td>@item.BAProduct</td>
                    <td>@item.BAAuditCriteria</td>

                    <td>
                        @*Inspection Defect List*@
                        @if (Model.HasSampleRFTInspection)
                        {
                            <a href="@Url.Action("IndexGet","SampleRFTInspectionDefectList",new {Area="SampleRFT", OrderID = item.SP })">
                                <img src="~/Image/Icon/Document.png" width="20" height="20" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("IndexGet","InspectionDefectList",new {Area="SampleRFT", OrderID = item.SP })">
                                <img src="~/Image/Icon/Document.png" width="20" height="20" />
                            </a>
                        }
                    </td>
                    <td>
                        @*Measurement*@
                        <a href="@Url.Action("IndexGet","Measurement",new {Area="SampleRFT", OrderID = item.SP })">
                            <img src="~/Image/Icon/Document.png" width="20" height="20" />
                        </a>
                    </td>
                    <td>
                        @* Picture During Dummy Fitting *@
                        <a href="@Url.Action("IndexGet","PicturesDummy",new {Area="SampleRFT", OrderID = item.SP })">
                            <img src="~/Image/Icon/Picture.png" width="20" height="20" />
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(function () {
        $('#myTable1').DataTable({
            "pageLength": 10,
            "autoWidth": false,
            "info": false,
            "filter": false,
            "paging": false,
            "info": false,
            "scrollY": "40vh",
            "scrollCollapse": true,
            "scrollX": true
        });

        $("#ToExcel").click(function () {
            $("#SampleRFTToExcel").click();
        });
    });
</script>