@model DatabaseObject.ViewModel.SampleRFT.InspectionBySP_CheckList

@{
    ViewBag.Title = "CheckList";
    Layout = "~/Areas/SampleRFT/Views/Shared/_ForAll_Layout.cshtml";
}

@section InspectionBySP_head{
    <link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
    <link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

    <style type="text/css">
        #CheckListTable_previous, #CheckListTable_next {
            color: white !important;
        }

        tr.shown td.details-control {
            background: url('/Image/Icon/ChildRowClose.png') no-repeat center center;
        }

        td.details-control {
            background: url('/Image/Icon/ChildRowOpen.png') no-repeat center center;
        }

        #CheckListTable {
            font-size: 1.4em;
        }

            #CheckListTable > tbody > tr > td {
                padding-right: 1px;
            }
    </style>
}

@Html.Partial("~/Areas/SampleRFT/Views/Shared/_SampleRFTInspection_Layout.cshtml")

<div class="DownWhiteBackgrond">
    @using (Html.BeginForm("CheckList", "InspectionBySP", FormMethod.Post, new { @id = "settingForm", onsubmit = "return checkSubmitValue(this.submitted);" }))
    {
        @Html.HiddenFor(o => o.ID)
        @Html.HiddenFor(o => o.OrderID)

        <div style="padding:2em 3em 2em 3em;width:60%;float:left;position: absolute;transform: translate(-50%, 0%);left: 50%">


            <table id="" class="cell-border" style="width:100%">
                @*<tr>
                        <td>&emsp;</td>
                        <td style="font-size:1rem;font-weight:bolder">Select All</td>
                        <td style="text-align: center;">@Html.CheckBox("SelectAll",new {@onclick= "SelectAllClick(this)" })</td>
                    </tr>*@
                <tr>
                    <td>&emsp;</td>
                    <td style="font-size:1rem;">Fabric Approval</td>
                    <td style="text-align: center;">@Html.CheckBoxFor(o => o.CheckFabricApproval)</td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                    <td style="font-size:1rem;">Metal Detection</td>
                    <td style="text-align: center;">@Html.CheckBoxFor(o => o.CheckMetalDetection)</td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                    <td style="font-size:1rem;">Sealing Sample Approval</td>
                    <td style="text-align: center;">@Html.CheckBoxFor(o => o.CheckSealingSampleApproval)</td>
                </tr>
            </table>
            <table id="CheckListTable" class="cell-border" style="width:100%"></table>
        </div>
        <div style="width:100%">
            <input type="hidden" id="goPage" name="goPage">
            <button id="btnBack" onclick="this.form.submitted=this.value;" type="submit" value="Back" class="button" style="right:7em;">Back</button>
            <button id="btnNext" onclick="this.form.submitted=this.value;" type="submit" value="Next" style="right:0;" class="button">Next</button>
        </div>
    }

</div>

@section InspectionBySP_script
{
    <script>
        var EditMode = false; //彈出視窗設定
        var msg = new MessagerAlert();

        // 摺疊資料需先轉成array
        var adata = [];
        var index = 0;

        // 設定大小寫
        var True = true;
        var False = false;

        var table;

        // name, td:value, td:checkbox
        adata.push([null, 'Fabric Artwork Check List',false,
            [
                ['CheckColorShade', 'Color Shade',@Model.CheckColorShade],
                ['CheckHandfeel', 'Handfeel', @Model.CheckHandfeel],
                ['CheckAppearance', 'Appearance',@Model.CheckAppearance],
                ['CheckPrintEmbDecorations', 'Print/Emb Decorations',@Model.CheckPrintEmbDecorations],
            ]
        ]);
        adata.push([null, 'Label', false,
            [
                ['CheckFiberContent', 'Fiber Content', @Model.CheckFiberContent],
                ['CheckCareInstructions', 'Care Instructions', @Model.CheckCareInstructions],
                ['CheckDecorativeLabel', 'Decorative Label', @Model.CheckDecorativeLabel],
                ['CheckCareLabel', 'Care Label', @Model.CheckCareLabel],
                ['CheckCountryofOrigin', 'Country of Origin', @Model.CheckCountryofOrigin],
                ['CheckSizeKey', 'Size Key', @Model.CheckSizeKey],
                ['CheckSecurityLabel', 'Security Label ATACA', @Model.CheckSecurityLabel],
                ['CheckAdditionalLabel', 'Additional Label', @Model.CheckAdditionalLabel],
            ]
        ]);
        adata.push([null, 'Packaging', false,
            [
                ['CheckOuterCarton', 'Outer Carton Labels', @Model.CheckOuterCarton],
                ['CheckPolytagMarketing', 'Polybag/Marketing', @Model.CheckPolytagMarketing],
                ['CheckPackingMode', 'Packing Mode', @Model.CheckPackingMode],
                ['CheckHangtag', 'Hangtag', @Model.CheckHangtag],
            ]
        ]);

        $(function () {
            table = $('#CheckListTable').DataTable({
                data: adata,
                autoWidth: false,
                destroy: true,
                columnDefs: [
                    { targets: 0, width: "2%", orderable: false },
                    { targets: 1, width: "96%", orderable: false },
                    { targets: 2, width: "2%", orderable: false },
                ],
                columns: [
                    {
                        "className": "details-control",
                    },
                    {
                        "style": "color:#E62513",
                    },
                    {
                        // Used欄位換成Check box
                        render: function (data, type, full, meta) {

                            var AllCheckedTxt = "checked";
                            var sameCodeItem = full[3];
                            $(sameCodeItem).each(function () {
                                var checked = this[2];
                                if (checked == false) {
                                    AllCheckedTxt = "";
                                }
                            });

                            var code = full[1].replaceAll(' ', '');
                            var rtn = `<input type="checkbox" onclick="ColHeaderCheck('${code}',this)" id="Head_${code}" code="${code}" name="checkbox-${meta.row}" style="font-size: 0.2vw;" ${AllCheckedTxt}>`;
                            return rtn;
                        },
                    },
                ],
                "filter": false,
                "paging": false,
                "info": false,
                "ordering": false,
                "pageLength": 10,
                "scrollY": "50vh",
                "scrollCollapse": true,
                "createdRow": function (row, data, index) {
                    $('td', row).css('background-color', '#FAA7A7');

                    $('td', row).attr('ID', 'CheckList_' + data[1].replaceAll(' ',''));
                }
            });

            $("#CheckListTable tbody").on("click", "td.details-control", function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            // 把開窗點到的資料，寫入DataTable的Datasource，請注意必須限定在Check box的標籤才需要觸發事件
            $("#CheckListTable tbody").on("click", "td.OpenDetail input", function () {

                // 取得修改了哪個Code底下的資料
                var Code = $(this).attr("Code");

                //取得勾選的子項目ID
                var id = $(this).attr("id");

                var partentTd = $("#CheckList_" + Code);
                var header = $("#Head_" + Code);
                var tr = $(partentTd).closest('tr');
                var row = table.row(tr);

                $.each(row.data()[3], function () {
                    if (this[0] == id) {

                        this[2] = $("#" + id).prop("checked");//$(this).find("input").val();

                        if (this[2] == false) {
                            $(header).prop("checked", False);
                        }
                    }
                })
            });

        });

        function SelectAllClick(obj) {
            var checked = $(obj).prop("checked");

            $("#CheckFabricApproval").click();
            $("#CheckMetalDetection").click();
            $("#CheckSealingSampleApproval").click();
            $("#Head_FabricArtworkCheckList").click();
            $("#Head_Label").click();
            $("#Head_Packaging").click();
        }

        function ColHeaderCheck(ColHeaderName,obj) {
            var checked = $(obj).prop("checked");

            //如果未開啟細項，則打開
            if ($(obj).parent().parent().hasClass("shown") == false) {
                $(`#CheckList_${ColHeaderName}`).click();
            }
            //$(`#CheckList_${ColHeaderName}`).click();
            $(`input[code=${ColHeaderName}]`).prop("checked", checked);

            // 把修改的資料，寫入DataTable的Datasource
            var partentTd = $("#CheckList_" + ColHeaderName);
            var tr = $(partentTd).closest('tr');
            var row = table.row(tr);
            $.each(row.data()[3], function () {
                this[2] = checked;
            })
        }

        function format(d) {
            var parentID = d[1].replaceAll(' ', '');
            var list = d[3];
            var sTr = "";
            $(list).each(function (index, value) {

                sTr = sTr + '<tr><td style="width:95%">' + value[1] + '</td>';
                if (value[2]) {

                    sTr = sTr + `<td class="OpenDetail" style="vertical-align: middle"><input checked="checked" data-val="true" id="${value[0]}" name="${value[0]}" code="${parentID}" type="checkbox" value="true"></td></tr>`;
                }
                else {
                    sTr = sTr + `<td class="OpenDetail" style="vertical-align: middle"><input data-val="true"  id="${value[0]}" " name="${value[0]}" type="checkbox" code="${parentID}" value="true"><input name="${value[0]}" " type="hidden" value="false"></td></tr>`;
                }
            });
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                sTr +
                '</table>';
        }

        function checkSubmitValue(self) {

            document.getElementById("goPage").value = self;

            ShowLoading();

            var trlist = $("#CheckListTable tbody td.details-control");

            trlist.each(function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // 打開的就不用管他
                    //row.child.hide();
                    //tr.removeClass('shown');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            return true;
        }
    </script>
}
