
@using DatabaseObject.ViewModel.SampleRFT

@model InspectionBySP_Others

@{
    Layout = "~/Areas/SampleRFT/Views/Shared/_ForAll_Layout.cshtml";
    int idx = 0;
}

@section InspectionBySP_head
    {
    <link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
    <link href="~/ThirdParty/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

    <style type="text/css">
        #myTable_previous, #CheckListTable_next {
            color: black !important;
        }

        #myTable {
            font-size: 1.4em;
            /*width: 80%;*/
        }

            #myTable th {
                color: black;
                background-color: lightgray;
            }

        .dataTables_wrapper {
            position: static;
        }

        #myTable_previous, #myTable_next {
            color: white !important;
        }


        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        td {
            padding: 5px 5px 5px 5px;
        }

        .readonly {
            background-color: lightgray;
        }

        h2{
            font-size: 1vw;
        }
        input {
            height: 3vh;
        }

    </style>
}


@Html.Partial("~/Areas/SampleRFT/Views/Shared/_SampleRFTInspection_Layout.cshtml")
<div class="DownWhiteBackgrond" style="display: inline-block;">

    @using (Html.BeginForm("Others", "InspectionBySP", FormMethod.Post, new { @id = "form"}))
    {
        @Html.HiddenFor(o => o.ID)
        <div style="width:100%;height:6vh;padding-top:5px;">
            <table>
                <tr>
                    <td style="width: 22vw"></td>
                    <td><h2>Inspector:</h2></td>
                    <td><h2 style="color:blue;">@Model.Inspector</h2></td>
                    <td>&emsp;&emsp;</td>
                    <td><h2>Inspector Result:</h2></td>
                    <td>
                        @if (Model.InspectorResult == "Pass")
                        {
                            <h2 style="color:blue;">@Model.InspectorResult</h2>
                        }
                        else
                        {
                            <h2 style="color:red;">@Model.InspectorResult</h2>
                        }
                    </td>
                    <td>&emsp;&emsp;</td>
                    <td><h2>Import from Same PO#:</h2></td>
                    <td>
                        @Html.DropDownList("SamePOID", Model.SamePOIDList)
                    </td>
                    <td>&emsp;&emsp;</td>
                    <td>&emsp;&emsp;</td>
                    <td>&emsp;&emsp;</td>
                    <td>&emsp;&emsp;</td>
                    <td>
                        <input id="btnSendToMR" type="button" class="site-btn btn-blue" onclick="SendMail()" value="Send To MR" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; overflow: scroll; height: 60vh;">

            <table id="myTable" class="table table-striped display" style="text-align:center;">
                <thead>
                    <tr class="row-name">
                        <th>Comments Category</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.DataList)
                    {
                        <tr class="row-content">
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => data.Description)
                            </td>
                            <td>
                                @Html.Hidden($"Req.DataList[{idx}].PMS_RFTCommentsID", data.PMS_RFTCommentsID)
                                @*@Html.TextBox($"Req.DataList[{idx}].Comnments", data.Comnments, new { @class="comment", @style = "width:100%" })*@
                                @Html.TextArea($"Req.DataList[{idx}].Comnments", data.Comnments, new { @class = "TextArea", @RFTCommentsID= data.PMS_RFTCommentsID, @style = "width:100%;height:7rem;" })

                            </td>
                        </tr>
                        idx++;
                    }
                </tbody>
            </table>
        </div>


        <div style="width:100%">
            <input type="hidden" id="goPage" name="goPage">
            <button id="btnBack" onclick="this.form.submitted=this.value;" type="button" value="Back" class="button" style="right:7em;">Back</button>
            <button id="btnSubmit" onclick="this.form.submitted=this.value;" type="button" value="Submit" style="right: 0; padding: 12px 25px" class="button">Submit</button>
        </div>

    }
</div>



@section InspectionBySP_script
    {

    <script>
        var msg = new MessagerAlert();

        $(function () {

            $('#myTable').DataTable({
                "pageLength": 20,
                "filter": false,
                "paging": false,
                "info": false,
                "ordering": false,
                initComplete: function () {
                }
            });

            $("#btnBack").click(function () {
                ShowLoading();
                document.getElementById("goPage").value = "Back";
                $("#form").submit();
            });

            $("#btnSubmit").click(function () {

                msg.WithConfirm('Sure to submit?', function () {
                    ShowLoading();
                    document.getElementById("goPage").value = "Submit";
                    $("#form").submit();

                }, function () {


                });
            });

            $("#SamePOID").change(function () {

                $.ajax({
                    url: "@Url.Action("GetRFTComments", "InspectionBySP")",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ OrderID: $(this).val() }),
                    async: false,
                    success: function (data) {


                        if (data.Result) {
                            $.each(data.DataList, function () {
                                var CFTComments_Result = this;
                                var RftcommentsID = CFTComments_Result.PMS_RFTCommentsID;
                                $(`Textarea[RFTCommentsID=${RftcommentsID}]`).text(CFTComments_Result.Comnments);
                            });
                        }
                        else {
                            msg.WithError(data.ErrorMessage);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                    }
                });
            });

        });

        function SendMail() {

            $.ajax({
                url: "@Url.Action("SendMail", "InspectionBySP")",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ ID: @Model.ID, OrderID: '@Model.OrderID' }),
                async: false,
                success: function (data) {
                    if (data.Result) {
                        var para = "?To=@Model.MReMail";
                        para += "&CC=@Model.CCMail";
                        para += "&Subject=" + "Sample RFT Inspection Report - SP : @Model.OrderID";
                        para += "&Body=" + "Sample RFT Inspection Report Detail";
                        para += "&file=" + data.FileName;
                        window.open('@Url.Action("SendMailer", "SendMailAttachfiles", new { Area=""})' + para, 'SendMail', config = 'toolbar=no,status=no,location=no,width=800,height=600');
                    }
                    else {
                        msg.WithError(data.ErrorMessage);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });

        }
    </script>
}