
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DatabaseObject.ViewModel.BulkFGT.Accessory_ViewModel
<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>
<link href="~/ThirdParty/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<style type="text/css">

    tr.row-name {
        color: black;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

    .button {
        background-color: #E00000; /* Red */
        border: none;
        color: white;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }

    .rowHeader {
        font-size: 1.1vw;
        font-weight: bold;
    }

        .rowHeader input[type="text"] {
            width: 10vw;
        }

    .col-auto {
        width: auto;
    }

        .col-auto > p {
            padding: 0
        }

    .White {
        color: white !important;
    }

    .Black {
        color: black !important;
    }

    .IsEditMode {
        color: white !important;
        cursor: pointer;
    }

    .IsEditModeQuery {
        color: gray !important;
        cursor: no-drop;
    }

    #ButtonMode {
        width: 92vw;
    }

    #myCartons_info, #myEndlineMoisture_info, #myView_info {
        color: white
    }

    .table_div tr td:nth-child(2n+1) {
        font-size: 1.2em;
        font-weight: bold;
    }


    .DataTable {
        width: 92vw;
        font-size: 1rem;
        font-weight: bold;
        border: solid 1px black;
        background-color: white;
    }

        .DataTable > tbody img {
            cursor: pointer;
        }

        .DataTable > tbody > tr:nth-of-type(odd) {
            background-color: #ffffff;
        }

        .DataTable > tbody > tr:nth-of-type(even) {
            background-color: #F0F2F2;
        }

        .DataTable > tbody > tr > td {
            border: solid 1px gray;
            padding: 0.5em;
            vertical-align: middle;
        }

    .CheckBoxColor {
        background-color: rgb(255, 228, 225);
    }

    .OvenColor {
        background-color: rgb(238, 232, 170);
    }

    .WashColor {
        background-color: rgb(135, 206, 235);
    }
</style>
<div class="main-content">
    <header class="page-header">
        <h3>
            <span>Accessory Oven & Wash Test</span>
        </h3>
        <div class="breadcrumb">
            <div>Home</div>
            <div class="current">Accessory Oven & Wash Test</div>
        </div>
    </header>
    <div class="main-area">
        <div class="content-scroll" style="height: calc( 100vh - 160px );">
            <div class="inner-scroll" style="height: calc( 100vh - 180px );">
                <div>
                    @using (Html.BeginForm("Index", ViewContext.RouteData.GetRequiredString("Controller"), new {  }, FormMethod.Post))
                    {
                        @*查詢*@
                        <div class="row rowHeader">
                            <div class="col-auto">
                                <p class="InfoTitle White">SP</p>
                            </div>
                            <div class="col-auto">
                                @Html.TextBoxFor(o => o.ReqOrderID)
                            </div>
                            <div class="col-auto">
                                <button id="btnQuery" type="submit" name = "Action:Query" class="site-btn btn-gy font1rem Black" style="padding: 0.4em;">Query</button>
                            </div>
                        </div>
                    }

                    @*按鈕*@
                    <div style="margin-top: 1em;">
                        <table id="ButtonMode">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4 id="Edit" style="margin-right: 1em;">
                                            <img src="~/Image/Icon/Edit.png" width="30" />
                                            Edit
                                        </h4>
                                    </td>
                                    <td>
                                        <h4 id="Save" style="margin-right: 1em;">
                                            <img src="~/Image/Icon/Save.png" width="30" />
                                            Save
                                        </h4>
                                    </td>
                                    <td>
                                        <h4 id="Undo" style="margin-right: 1em;">
                                            <img src="~/Image/Icon/Undo.png" width="30" />
                                            Undo
                                        </h4>
                                    </td>
                                    <td style="width: 70%;">
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
                @*明細*@
                <div style="margin-top: 1em;">
                    <table class="DataTable MainTable">
                        <tbody>
                            <tr>
                                <td style="width: 10vw;"><h5>SP#</h5></td>
                                <td style="width: 20vw;">
                                    @Html.TextBoxFor(o => o.OrderID, new { @readonly = "readonly" })
                                </td>
                                <td style="width: 10vw;"><h5>Style#</h5></td>
                                <td style="width: 20vw;">
                                    @Html.DisplayFor(o => o.StyleID)
                                </td>
                                <td style="width: 10vw;"><h5>Brand</h5></td>
                                <td style="width: 20vw;">
                                    @Html.DisplayFor(o => o.BrandID)
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Season</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.SeasonID)
                                </td>
                                <td><h5>Earliest Est. Cutting Date</h5></td>
                                <td>
                                    @Html.ValueFor(o => o.EarliestCutDate, "{0:yyyy/MM/dd}")
                                </td>
                                <td><h5>Earliest SCI Del</h5></td>
                                <td>
                                    @Html.ValueFor(o => o.EarliestSCIDel, "{0:yyyy/MM/dd}")
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Target Lead Time</h5></td>
                                <td>
                                    @Html.ValueFor(o => o.TargetLeadTime, "{0:yyyy/MM/dd}")
                                </td>
                                <td><h5>Completion Date</h5></td>
                                <td>
                                    @Html.ValueFor(o => o.CompletionDate, "{0:yyyy/MM/dd}")
                                </td>
                                <td><h5>Article % of Inspection</h5></td>
                                <td>
                                    @Html.DisplayFor(o => o.ArticlePercent)
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Mtl Cmplt (SP)</h5></td>
                                <td>
                                    @*@Html.DisplayFor(o => o.MtlCmplt,new { @id= "Cmplt" })*@
                                    @Html.CheckBoxFor(o=>o.MtlCmplt)
                                </td>
                                <td><h5>Remark</h5></td>
                                <td colspan="3">
                                    @Html.TextBoxFor(o => o.Remark, new { @style = "width:40vw" })
                                </td>
                            </tr>
                            <tr>
                                <td><h5>Create By</h5></td>
                                <td colspan="2">
                                    @Html.DisplayFor(o => o.CreateBy)
                                </td>
                                <td><h5>Edit By</h5></td>
                                <td colspan="2">
                                    @Html.DisplayFor(o => o.EditBy)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 1em;min-width:200vw;">
                    <table cellspacing="100" class="DataTable DetailTable table table-striped display;" style="width:100%">
                        <thead>
                            <tr class="row-name" id="row-name">
                                <th>Seq</th>
                                <th>WKNo</th>
                                <th>Arrive W/H Date</th>
                                <th>SCI Refno</th>
                                <th>Refno</th>
                                <th>Supplier</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Arrive Qty</th>
                                <th>Insp. Deadline</th>
                                <th>Over All Result</th>
                                <th>Oven N/A</th>
                                <th>Oven Result</th>
                                <th>Oven Scale</th>
                                <th>Oven <br />Last Test Date</th>
                                <th>Oven Lab Tech</th>
                                <th>Remark</th>
                                <th>Wash N/A</th>
                                <th>Wash Result</th>
                                <th>Wash Scale</th>
                                <th>Wash Last Test Date</th>
                                <th>Wash Lab Tech</th>
                                <th>Remark</th>
                                <th>Receiving</th>
                                <th>Oven Test</th>
                                <th>Wash Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataList.Count; i++)
                            {
                                string styleColor = string.Empty;
                                <tr class="row-content" style="vertical-align: middle; text-align: center;">
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.DataList[i].AIR_LaboratoryID, new { @class = "required" })
                                        @Html.HiddenFor(modelItem => Model.DataList[i].Seq1, new { @class = "required" })
                                        @Html.HiddenFor(modelItem => Model.DataList[i].Seq2, new { @class = "required" })
                                        @Html.DisplayFor(modelItem => Model.DataList[i].Seq)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].ExportID)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => Model.DataList[i].WhseArrival, "{0:yyyy/MM/dd}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].SCIRefno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].Refno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].Supplier)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].ColorID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].SizeSpec)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.DataList[i].ArriveQty)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => Model.DataList[i].InspDeadline, "{0:yyyy/MM/dd}")
                                    </td>
                                    <td>
                                        @{
                                            if (Model.DataList[i].OverAllResult == "Pass")

                                            {
                                                styleColor = "blue";
                                            }
                                            else
                                            {
                                                styleColor = "red";
                                            }
                                        }
                                        <font color="@styleColor">@Html.DisplayFor(modelItem => Model.DataList[i].OverAllResult)</font>
                                    </td>
                                    <td class="CheckBoxColor">
                                        @Html.CheckBox("DataList[" + i + "].NonOven", Convert.ToBoolean(Model.DataList[i].NonOven))
                                    </td>
                                    <td class="CrockingColor">
                                        @{
                                            if (Model.DataList[i].OvenResult == "Pass")

                                            {
                                                styleColor = "blue";
                                            }
                                            else
                                            {
                                                styleColor = "red";
                                            }
                                        }
                                        <font color="@styleColor">@Html.DisplayFor(modelItem => Model.DataList[i].OvenResult)</font>
                                    </td>
                                    <td class="OvenColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].OvenScale)
                                    </td>
                                    <td class="OvenColor">
                                        @Html.ValueFor(modelItem => Model.DataList[i].OvenDate, "{0:yyyy/MM/dd}")
                                    </td>
                                    <td class="OvenColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].OvenInspector)
                                    </td>
                                    <td class="OvenColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].OvenRemark)
                                    </td>
                                    <td class="CheckBoxColor">
                                        @Html.CheckBox("DataList[" + i + "].NonWash", Convert.ToBoolean(Model.DataList[i].NonWash))
                                    </td>
                                    <td class="HeatColor">
                                        @{
                                            if (Model.DataList[i].WashResult == "Pass")

                                            {
                                                styleColor = "blue";
                                            }
                                            else
                                            {
                                                styleColor = "red";
                                            }
                                        }
                                        <font color="@styleColor">@Html.DisplayFor(modelItem => Model.DataList[i].WashResult)</font>
                                    </td>
                                    <td class="HeatColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].WashScale)
                                    </td>
                                    <td class="WashColor">
                                        @Html.ValueFor(modelItem => Model.DataList[i].WashDate, "{0:yyyy/MM/dd}")
                                    </td>
                                    <td class="WashColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].WashInspector)
                                    </td>
                                    <td class="WashColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].WashRemark)
                                    </td>
                                    <td class="WashColor">
                                        @Html.DisplayFor(modelItem => Model.DataList[i].ReceivingID)
                                    </td>
                                    @{
                                        string controllerName = ViewContext.RouteData.GetRequiredString("Controller");
                                        DatabaseObject.ViewModel.BulkFGT.Accessory_Oven accessory_Oven = new DatabaseObject.ViewModel.BulkFGT.Accessory_Oven()
                                        {
                                            POID = Model.OrderID,
                                            AIR_LaboratoryID = Model.DataList[i].AIR_LaboratoryID,
                                            Seq1 = Model.DataList[i].Seq1,
                                            Seq2 = Model.DataList[i].Seq2,
                                        };
                                        DatabaseObject.ViewModel.BulkFGT.Accessory_Wash accessory_wash = new DatabaseObject.ViewModel.BulkFGT.Accessory_Wash()
                                        {
                                            POID = Model.OrderID,
                                            AIR_LaboratoryID = Model.DataList[i].AIR_LaboratoryID,
                                            Seq1 = Model.DataList[i].Seq1,
                                            Seq2 = Model.DataList[i].Seq2,
                                        };
                                    }

                                    <td><a class="link" href="@Url.Action("OvenTest", @controllerName, accessory_Oven)">Oven Test</a></td>
                                    <td><a class="link" href="@Url.Action("WashTest", @controllerName, accessory_wash)">Wash Test</a></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var msg;
        var EditMode;
        $(function () {
            msg = new MessagerAlert();

            EditMode = false;
            IsEditModeChange();
        });

        function IsEditModeChange() {
            EditModeButtionBind();

            if (EditMode) {
                $(".rowHeader input[type='text']").attr("disabled", "disabled");
                $(".rowHeader input[type='button']").unbind('click').addClass("IsEditModeQuery");
                $('#btnQuery').addClass("IsEditModeQuery");

                $("#Edit").removeClass("IsEditMode");
                $('#Save, #Undo, #New').addClass("IsEditMode");
                $(".DataTable input:not(#MtlCmplt)").removeAttr("disabled", "disabled");
                $(".link").hide();
            }
            else {
                $(".rowHeader input[type='text']").removeAttr("disabled");
                $(".rowHeader input[type='button']").removeClass("IsEditModeQuery");
                $('#Save, #Undo, #New').unbind('click').removeClass("IsEditMode");
                $(".DataTable input:not(.required)").attr("disabled", "disabled");
                $(".link").show();
                if ('@Model.OrderID' != '') {
                    $("#Edit").addClass("IsEditMode");
                }
            }
        }

        function EditModeButtionBind() {
            $('#Edit').on('click', function () {
                if ('@Model.OrderID' != '') {
                    EditMode = true;
                    IsEditModeChange();
                }
            });

            $('#Save').on('click', function (e) {
                var detail = [];
                var ErrMsg = "";

                if (ErrMsg != "") {
                    msg.WithError(ErrMsg);
                    return;
                }

                var detail = [];
                var ErrMsg = "";
                $('.DetailTable > tbody > tr').each(function (index, value) {
                    detail.push({

                        // poid
                        AIR_LaboratoryID: parseInt($('#DataList_' + index + '__AIR_LaboratoryID').val()),
                        Seq1: $('#DataList_' + index + '__Seq1').val(),
                        Seq2: $('#DataList_' + index + '__Seq2').val(),
                        NonOven: $('#DataList_' + index + '__NonOven').prop("checked"),
                        NonWash: $('#DataList_' + index + '__NonWash').prop("checked"),
                    });
                });

                var main = {
                    OrderID: $('#OrderID').val(),
                    Remark: $('#Remark').val(),
                    DataList:detail
                };

                $.ajax({
                    url: "@Url.Action("AccessorySave", "AccessoryOvenWash", new { Area = "BulkFGT" })",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ Req: main }),
                    async: false,
                    success: function (data) {
                        IsEditModeChange();
                        $('#btnQuery').click();
                        //if (data.SaveResult) {
                        //    msg.WithSuccess("Success");
                        //    $('#btnQuery').click();
                        //}
                        //else {
                        //    msg.WithError(data.ErrMsg);
                        //}
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                    }
                });
            });

            $('#Undo').on('click', function () {
                EditMode = false;
                IsEditModeChange();
                $('#btnQuery').click();
            });
        }
</script>