@using DatabaseObject.Public

@{
    Layout = null;
    string title = ViewData["Title"] == null ? "Test Fail Mail" : ViewData["Title"].ToString();
    string TargetID = ViewData["TargetID"] == null ? string.Empty : ViewData["TargetID"].ToString();

}

@model List<Window_BrandGarmentTestItem>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />
<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

<style>

    ul {
        padding: 0;
    }


    .head {
        border-top: 2px solid black;
        text-align: center;
        font-size: 1.2em;
        background-color: lightgray;
    }
</style>

<fieldset style="width:700px;height:600px;">
    <legend>@title</legend>


    <div style="width:100%;height:90%;overflow-y: scroll;">
        <table id="MyTable" style="width:100%;max-height:95%;" class="table table-striped display">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Test  Classify</th>
                    <th>Doc. Type</th>
                    <th>Test Item</th>
                    <th>Ukey</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.BrandID
                        </td>
                        <td>
                            @item.TestClassify
                        </td>
                        <td>
                            @item.DocType
                        </td>
                        <td>
                            @item.TestItem
                        </td>
                        <td>
                            @item.Ukey
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>
<br />
<input id="btnExit" type="button" value="Exit" />
<script>


    $(function () {
        var table = $('#MyTable').DataTable({
            "filter": true,
            "paging": false,
            "order": false,
            "info": false,
            columns: [
                { target: 0 },
                { target: 1 },
                { target: 2 },
                { target: 3 },
                { target: 4, visible: false },
            ]
        });

        $('#MyTable tbody').on('click', 'tr', function (data, type, full, meta) {

            // 取得整個Row
            var RowData = table.row(this).data();

            var BrandGarmentTestItemData = {
                BrandID: RowData[0],
                TestClassify: RowData[1],
                DocType: RowData[2],
                TestItem: RowData[3],
                Ukey: RowData[4],
            }

            // 呼叫父視窗的GetTechnician Function，把物件傳回去
            window.opener.GetBrandGarmentTestItemList(BrandGarmentTestItemData);

            window.close();
        });

        $("#btnExit").click(function () {
            window.close();
        });

    });

</script>