@using DatabaseObject.Public

@{
    Layout = null;
    string title = ViewData["Title"] == null ? "TPE Supp" : ViewData["Title"].ToString();
    string TargetID = ViewData["TargetID"] == null ? string.Empty : ViewData["TargetID"].ToString();
}

@model List<Window_TPESupp>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<link href="~/ThirdParty/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/ThirdParty/SciCustom/css/TableStyle.css" rel="stylesheet" />

<script src="~/ThirdParty/plugins/DataTables/datatables.min.js"></script>

<style>

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        border: 1px solid black;
        padding: 2px;
    }

    td {
        border-style: ridge;
    }

    .head {
        border-top: 2px solid black;
        text-align: center;
        font-size: 1.2em;
        background-color: lightgray;
    }

    tbody tr:hover {
        cursor: pointer;
    }
</style>

<fieldset style="width:900px;height:700px;">
    <legend>@title</legend>
    @using (Html.BeginForm("TPESuppList", ViewContext.RouteData.GetRequiredString("Controller"), new { }, FormMethod.Post, new { @width = "100%", @height = "5%", @style = "margin-bottom:10px;" }))
    {
        <input type="text" name="Name" value="" />
        @Html.Hidden("Title", title);
        @Html.Hidden("TargetID", TargetID)
        <input type="submit" value="Query" />
        <input id="btnExit" type="button" value="Exit" />
    }

    <div style="width:100%;height:90%;overflow-y: scroll;">
        <table id="MyTable" style="width:100%;max-height:100%;" class="table table-striped display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Abb</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ID</td>
                        <td>@item.Abb</td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</fieldset>

<script>


    $(function () {

        var table = $('#MyTable').DataTable({
            "filter": false,
            "paging": false,
            "info": false
        });

        $('#MyTable tbody').on('click', 'tr', function (data, type, full, meta) {

            // 取得整個Row
            var TPESuppData = table.row(this).data();

            var TPESupp = {
                ID: TPESuppData[0],
                Name: TPESuppData[1],
                ExtNo: TPESuppData[2],
            }

            // 呼叫父視窗的GetTPESupp Function，把物件傳回去
            window.opener.GetTPESupp(TPESupp, '@TargetID');

            window.close();
        });


        $("#btnExit").click(function () {
            window.close();
        });
    });
</script>